* {
  color-scheme: only light !important;
}

:root {
  /* Palette */
  --accent-0: #007000;
  --accent-1: #b0000f;
  --accent-2: #3f69af;
  --accent-3: #b44405;
  --bg-active: #c7b2ab;
  --bg-added-faint: #e2efc0;
  --bg-added-refine: #bbd799;
  --bg-added: #d0e6b0;
  --bg-alt: #e7d2cb;
  --bg-blue-intense: #afbeff;
  --bg-blue-subtle: #cfdff0;
  --bg-changed-faint: #f5edaf;
  --bg-changed-refine: #edd482;
  --bg-changed: #f5e690;
  --bg-char-0: #7feaff;
  --bg-char-1: #f0a0f0;
  --bg-char-2: #d0e000;
  --bg-completion: #f3c4c4;
  --bg-cyan-intense: #88d4f0;
  --bg-cyan-subtle: #bfe8eb;
  --bg-dim: #f0d8cf;
  --bg-err: #ffd4b5;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #7f90ff;
  --bg-graph-blue-1: #a6c0ff;
  --bg-graph-cyan-0: #70d3f0;
  --bg-graph-cyan-1: #afefff;
  --bg-graph-green-0: #45c050;
  --bg-graph-green-1: #75ef30;
  --bg-graph-magenta-0: #e07fff;
  --bg-graph-magenta-1: #fad0ff;
  --bg-graph-red-0: #ef7969;
  --bg-graph-red-1: #ffaab4;
  --bg-graph-yellow-0: #ffcf00;
  --bg-graph-yellow-1: #f9ff00;
  --bg-green-intense: #96df80;
  --bg-green-subtle: #c4eda0;
  --bg-hl-line: #fad8bf;
  --bg-hover-secondary: #f5bfc5;
  --bg-hover: #afdeaf;
  --bg-inactive: #f7e2d2;
  --bg-info: #d0f0bc;
  --bg-magenta-intense: #bf9fff;
  --bg-magenta-subtle: #f0d0f0;
  --bg-main: #ffead8;
  --bg-mode-line: #e9a0a0;
  --bg-paren: #efafbf;
  --bg-red-intense: #ff8f88;
  --bg-red-subtle: #f9c2bf;
  --bg-region: #dbe0c0;
  --bg-removed-faint: #f5d0b0;
  --bg-removed-refine: #f0aaa9;
  --bg-removed: #f8c6b6;
  --bg-search-current: #efbf00;
  --bg-search-lazy: #afbeff;
  --bg-search-match: #efe48f;
  --bg-search-replace: #ff8f88;
  --bg-search-rx-group-0: #bf9fff;
  --bg-search-rx-group-1: #96df80;
  --bg-search-rx-group-2: #f9c2bf;
  --bg-search-rx-group-3: #bfe8eb;
  --bg-space-err: #efbf00;
  --bg-space: NONE;
  --bg-tab-bar: #e7d2cb;
  --bg-tab-current: #ffead8;
  --bg-tab-other: #c7b2ab;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #265fbf;
  --bg-term-blue: #5f55df;
  --bg-term-cyan-bright: #0f7688;
  --bg-term-cyan: #3f69af;
  --bg-term-green-bright: #557000;
  --bg-term-green: #007000;
  --bg-term-magenta-bright: #6448ca;
  --bg-term-magenta: #a23ea4;
  --bg-term-red-bright: #b20f00;
  --bg-term-red: #aa184f;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #b44405;
  --bg-term-yellow: #906200;
  --bg-warning: #efe48f;
  --bg-yellow-intense: #efbf00;
  --bg-yellow-subtle: #efe76f;
  --blue-cooler: #265fbf;
  --blue-faint: #4a659f;
  --blue-warmer: #5f55df;
  --blue: #375cc6;
  --border: #c0b4a6;
  --builtin: #00704f;
  --comment: #6e678f;
  --constant: #a23ea4;
  --cursor: #208f10;
  --cyan-cooler: #0f7688;
  --cyan-faint: #546f70;
  --cyan-warmer: #4060a0;
  --cyan: #3f69af;
  --date-common: #3f712f;
  --date-deadline-subtle: #8f2f30;
  --date-deadline: #aa184f;
  --date-event: #8a5f4a;
  --date-holiday: #b44405;
  --date-now: #393330;
  --date-range: #8a5f4a;
  --date-scheduled-subtle: #8d6068;
  --date-scheduled: #906200;
  --date-weekday: #00704f;
  --date-weekend: #b0000f;
  --docstring: #8d6068;
  --err: #b20f00;
  --fg-added: #005000;
  --fg-alt: #8a5f4a;
  --fg-changed: #553d00;
  --fg-dim: #6e678f;
  --fg-fringe: NONE;
  --fg-intense: #000000;
  --fg-main: #393330;
  --fg-mode-line: #40231f;
  --fg-region: NONE;
  --fg-removed: #8f1313;
  --fg-space: #c0b4a6;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #265fbf;
  --fg-term-blue: #5f55df;
  --fg-term-cyan-bright: #0f7688;
  --fg-term-cyan: #3f69af;
  --fg-term-green-bright: #557000;
  --fg-term-green: #007000;
  --fg-term-magenta-bright: #6448ca;
  --fg-term-magenta: #a23ea4;
  --fg-term-red-bright: #b20f00;
  --fg-term-red: #aa184f;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #b44405;
  --fg-term-yellow: #906200;
  --fnname: #007000;
  --green-cooler: #00704f;
  --green-faint: #3f712f;
  --green-warmer: #557000;
  --green: #007000;
  --identifier: #845592;
  --info: #007000;
  --keybind: #b0000f;
  --keyword: #8f2f30;
  --link-alt: #6448ca;
  --link: #00704f;
  --magenta-cooler: #6448ca;
  --magenta-faint: #845592;
  --magenta-warmer: #bf2c90;
  --magenta: #a23ea4;
  --mail-cite-0: #00704f;
  --mail-cite-1: #557000;
  --mail-cite-2: #aa184f;
  --mail-cite-3: #906200;
  --mail-other: #b20f00;
  --mail-part: #007000;
  --mail-recipient: #8f2f30;
  --mail-subject: #b0000f;
  --modeline-err: #900000;
  --modeline-info: #00448f;
  --modeline-warning: #70008f;
  --name: #aa184f;
  --preprocessor: #0f7688;
  --prompt: #8f2f30;
  --prose-code: #bf2c90;
  --prose-done: #007000;
  --prose-macro: #b44405;
  --prose-metadata-value: #8a5f4a;
  --prose-metadata: #6e678f;
  --prose-table-formula: #007000;
  --prose-table: #8a5f4a;
  --prose-tag: #546f70;
  --prose-todo: #b44405;
  --prose-verbatim: #265fbf;
  --rainbow-0: #007000;
  --rainbow-1: #8f2f30;
  --rainbow-2: #00704f;
  --rainbow-3: #906200;
  --rainbow-4: #557000;
  --rainbow-5: #0f7688;
  --rainbow-6: #8a6340;
  --rainbow-7: #aa184f;
  --rainbow-8: #3f69af;
  --red-cooler: #aa184f;
  --red-faint: #8f2f30;
  --red-warmer: #b20f00;
  --red: #b0000f;
  --rx-construct: #0f7688;
  --rx-escape: #b44405;
  --string: #557000;
  --type: #b0000f;
  --underline-err: #ef0f1f;
  --underline-info: #02af52;
  --underline-warning: #bf5f00;
  --variable: #aa184f;
  --warning: #906200;
  --yellow-cooler: #8a6340;
  --yellow-faint: #8d6068;
  --yellow-warmer: #b44405;
  --yellow: #906200;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
  --tab-selected-textcolor: var(--fg-main) !important;
  --tab-selected-color-scheme: only light !important;

  --toolbar-color-scheme: only light !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

