:root {
  /* Palette */
  --accent-0: #00c089;
  --accent-1: #78afff;
  --accent-2: #e490df;
  --accent-3: #7fc500;
  --bg-active: #505250;
  --bg-added-faint: #002a10;
  --bg-added-refine: #03512f;
  --bg-added: #003b1f;
  --bg-alt: #303230;
  --bg-blue-intense: #4648d0;
  --bg-blue-subtle: #1a3863;
  --bg-changed-faint: #2a1f00;
  --bg-changed-refine: #4a4a00;
  --bg-changed: #363300;
  --bg-char-0: #0050af;
  --bg-char-1: #7f1f7f;
  --bg-char-2: #625a00;
  --bg-completion: #0f3c2f;
  --bg-cyan-intense: #2270be;
  --bg-cyan-subtle: #113e57;
  --bg-dim: #222522;
  --bg-err: #48100f;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #2fafef;
  --bg-graph-blue-1: #1f2f8f;
  --bg-graph-cyan-0: #47dfea;
  --bg-graph-cyan-1: #00808f;
  --bg-graph-green-0: #0fed00;
  --bg-graph-green-1: #007800;
  --bg-graph-magenta-0: #bf94fe;
  --bg-graph-magenta-1: #5f509f;
  --bg-graph-red-0: #b52c2c;
  --bg-graph-red-1: #702020;
  --bg-graph-yellow-0: #f1e00a;
  --bg-graph-yellow-1: #b08940;
  --bg-green-intense: #407430;
  --bg-green-subtle: #0a4425;
  --bg-hl-line: #00331f;
  --bg-hover-secondary: #003e5f;
  --bg-hover: #4f3f9a;
  --bg-inactive: #161916;
  --bg-info: #1a3b0f;
  --bg-magenta-intense: #a04fc5;
  --bg-magenta-subtle: #572853;
  --bg-main: #111111;
  --bg-mode-line: #00552f;
  --bg-paren: #664950;
  --bg-red-intense: #b02930;
  --bg-red-subtle: #65201a;
  --bg-region: #3a3027;
  --bg-removed-faint: #380a0f;
  --bg-removed-refine: #751a1f;
  --bg-removed: #4e1119;
  --bg-search-current: #8f5040;
  --bg-search-lazy: #4648d0;
  --bg-search-match: #3b3400;
  --bg-search-replace: #b02930;
  --bg-search-rx-group-0: #a04fc5;
  --bg-search-rx-group-1: #407430;
  --bg-search-rx-group-2: #65201a;
  --bg-search-rx-group-3: #113e57;
  --bg-space-err: #8f5040;
  --bg-space: NONE;
  --bg-tab-bar: #303230;
  --bg-tab-current: #111111;
  --bg-tab-other: #505250;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #78afff;
  --bg-term-blue: #37aff6;
  --bg-term-cyan-bright: #5dc0aa;
  --bg-term-cyan: #6fc5ef;
  --bg-term-green-bright: #7fc500;
  --bg-term-green: #3fb83f;
  --bg-term-magenta-bright: #af9fff;
  --bg-term-magenta: #d38faf;
  --bg-term-red-bright: #f47360;
  --bg-term-red: #ef6560;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #e09a0f;
  --bg-term-yellow: #d4aa02;
  --bg-warning: #3b3400;
  --bg-yellow-intense: #8f5040;
  --bg-yellow-subtle: #523324;
  --blue-cooler: #32cfef;
  --blue-faint: #6ab4cf;
  --blue-warmer: #78afff;
  --blue: #37aff6;
  --border: #525959;
  --builtin: #3fb83f;
  --comment: #b7a07f;
  --constant: #37aff6;
  --cursor: #35f038;
  --cyan-cooler: #5dc0aa;
  --cyan-faint: #7fb4cf;
  --cyan-warmer: #7fcfdf;
  --cyan: #6fc5ef;
  --date-common: #5dc0aa;
  --date-deadline-subtle: #d56f72;
  --date-deadline: #ff778f;
  --date-event: #8fcfaf;
  --date-holiday: #e490df;
  --date-now: #cfdfd5;
  --date-range: #8fcfaf;
  --date-scheduled-subtle: #b7a07f;
  --date-scheduled: #cfc04f;
  --date-weekday: #6fc5ef;
  --date-weekend: #d56f72;
  --docstring: #7fc07f;
  --err: #ef6560;
  --fg-added: #a0e0a0;
  --fg-alt: #8fcfaf;
  --fg-changed: #efef80;
  --fg-dim: #808f80;
  --fg-fringe: NONE;
  --fg-intense: #ffffff;
  --fg-main: #cfdfd5;
  --fg-mode-line: #d0ffe0;
  --fg-region: NONE;
  --fg-removed: #ffbfbf;
  --fg-space: #525959;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #78afff;
  --fg-term-blue: #37aff6;
  --fg-term-cyan-bright: #5dc0aa;
  --fg-term-cyan: #6fc5ef;
  --fg-term-green-bright: #7fc500;
  --fg-term-green: #3fb83f;
  --fg-term-magenta-bright: #af9fff;
  --fg-term-magenta: #d38faf;
  --fg-term-red-bright: #f47360;
  --fg-term-red: #ef6560;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #e09a0f;
  --fg-term-yellow: #d4aa02;
  --fnname: #7fc500;
  --green-cooler: #00c089;
  --green-faint: #7fc07f;
  --green-warmer: #7fc500;
  --green: #3fb83f;
  --identifier: #caa5bf;
  --info: #3fb83f;
  --keybind: #3fb83f;
  --keyword: #00c089;
  --link-alt: #d38faf;
  --link: #00c089;
  --magenta-cooler: #af9fff;
  --magenta-faint: #caa5bf;
  --magenta-warmer: #e490df;
  --magenta: #d38faf;
  --mail-cite-0: #00c089;
  --mail-cite-1: #78afff;
  --mail-cite-2: #7fc500;
  --mail-cite-3: #af9fff;
  --mail-other: #7fc500;
  --mail-part: #7fc07f;
  --mail-recipient: #3fb83f;
  --mail-subject: #37aff6;
  --modeline-err: #ff9fbf;
  --modeline-info: #7fdfff;
  --modeline-warning: #dfcf33;
  --name: #3fb83f;
  --preprocessor: #5dc0aa;
  --prompt: #5dc0aa;
  --prose-code: #78afff;
  --prose-done: #3fb83f;
  --prose-macro: #e490df;
  --prose-metadata-value: #8fcfaf;
  --prose-metadata: #808f80;
  --prose-table-formula: #cfc04f;
  --prose-table: #8fcfaf;
  --prose-tag: #b7a07f;
  --prose-todo: #ef6560;
  --prose-verbatim: #00c089;
  --rainbow-0: #00c089;
  --rainbow-1: #7fc500;
  --rainbow-2: #5dc0aa;
  --rainbow-3: #af9fff;
  --rainbow-4: #7fcfdf;
  --rainbow-5: #cfc04f;
  --rainbow-6: #37aff6;
  --rainbow-7: #6fc5ef;
  --rainbow-8: #d38faf;
  --red-cooler: #ff778f;
  --red-faint: #d56f72;
  --red-warmer: #f47360;
  --red: #ef6560;
  --rx-construct: #3fb83f;
  --rx-escape: #cfc04f;
  --string: #af9fff;
  --type: #7fcfdf;
  --underline-err: #df2f2f;
  --underline-info: #22b022;
  --underline-warning: #c0b000;
  --variable: #78afff;
  --warning: #cfc04f;
  --yellow-cooler: #cfc04f;
  --yellow-faint: #b7a07f;
  --yellow-warmer: #e09a0f;
  --yellow: #d4aa02;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

