* {
  color-scheme: only dark !important;
}

:root {
  /* Palette */
  --accent-0: #f470df;
  --accent-1: #e5b76f;
  --accent-2: #a897ef;
  --accent-3: #ff7359;
  --bg-active: #594a4f;
  --bg-added-faint: #002410;
  --bg-added-refine: #034d2f;
  --bg-added: #00351f;
  --bg-alt: #392a2f;
  --bg-blue-intense: #4648d0;
  --bg-blue-subtle: #2a3463;
  --bg-changed-faint: #2a1f00;
  --bg-changed-refine: #4a4a00;
  --bg-changed: #363300;
  --bg-char-0: #0050af;
  --bg-char-1: #7f1f7f;
  --bg-char-2: #625a00;
  --bg-completion: #4a1937;
  --bg-cyan-intense: #2270cf;
  --bg-cyan-subtle: #133d58;
  --bg-dim: #291f26;
  --bg-err: #461017;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #2fafef;
  --bg-graph-blue-1: #1f2f8f;
  --bg-graph-cyan-0: #47dfea;
  --bg-graph-cyan-1: #00808f;
  --bg-graph-green-0: #0fed00;
  --bg-graph-green-1: #007800;
  --bg-graph-magenta-0: #bf94fe;
  --bg-graph-magenta-1: #5f509f;
  --bg-graph-red-0: #b52c2c;
  --bg-graph-red-1: #702020;
  --bg-graph-yellow-0: #f1e00a;
  --bg-graph-yellow-1: #b08940;
  --bg-green-intense: #2a7140;
  --bg-green-subtle: #0a422f;
  --bg-hl-line: #401f33;
  --bg-hover-secondary: #66364f;
  --bg-hover: #303f6f;
  --bg-inactive: #1e1216;
  --bg-info: #00352a;
  --bg-magenta-intense: #804fd5;
  --bg-magenta-subtle: #562654;
  --bg-main: #190a0f;
  --bg-mode-line: #771a4f;
  --bg-paren: #3f5f75;
  --bg-red-intense: #b02930;
  --bg-red-subtle: #65102a;
  --bg-region: #232f3f;
  --bg-removed-faint: #340a14;
  --bg-removed-refine: #701a35;
  --bg-removed: #510c28;
  --bg-search-current: #8f5040;
  --bg-search-lazy: #4648d0;
  --bg-search-match: #3a3004;
  --bg-search-replace: #b02930;
  --bg-search-rx-group-0: #804fd5;
  --bg-search-rx-group-1: #2a7140;
  --bg-search-rx-group-2: #65102a;
  --bg-search-rx-group-3: #133d58;
  --bg-space-err: #8f5040;
  --bg-space: NONE;
  --bg-tab-bar: #392a2f;
  --bg-tab-current: #190a0f;
  --bg-tab-other: #594a4f;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #a897ef;
  --bg-term-blue: #8fa5f6;
  --bg-term-cyan-bright: #8fcfdf;
  --bg-term-cyan: #8fbaef;
  --bg-term-green-bright: #60bf88;
  --bg-term-green: #60b444;
  --bg-term-magenta-bright: #df7fff;
  --bg-term-magenta: #ef80bf;
  --bg-term-red-bright: #ff656f;
  --bg-term-red: #ff7359;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #ea9955;
  --bg-term-yellow: #e5b76f;
  --bg-warning: #3a3004;
  --bg-yellow-intense: #8f5040;
  --bg-yellow-subtle: #523324;
  --blue-cooler: #7fa5ff;
  --blue-faint: #7f9ab4;
  --blue-warmer: #a897ef;
  --blue: #8fa5f6;
  --border: #695960;
  --builtin: #a897ef;
  --comment: #bf9f8f;
  --constant: #ff78aa;
  --cursor: #ff5aaf;
  --cyan-cooler: #8fcfdf;
  --cyan-faint: #aac0cf;
  --cyan-warmer: #9ac0e4;
  --cyan: #8fbaef;
  --date-common: #ef80bf;
  --date-deadline-subtle: #e47f72;
  --date-deadline: #ff656f;
  --date-event: #bf9cdf;
  --date-holiday: #a897ef;
  --date-now: #d3cfcf;
  --date-range: #bf9cdf;
  --date-scheduled-subtle: #bf9f8f;
  --date-scheduled: #ea9955;
  --date-weekday: #8fbaef;
  --date-weekend: #e47f72;
  --docstring: #cc9bcf;
  --err: #ff656f;
  --fg-added: #a0e0a0;
  --fg-alt: #bf9cdf;
  --fg-changed: #efef80;
  --fg-dim: #808898;
  --fg-fringe: NONE;
  --fg-intense: #ffffff;
  --fg-main: #d3cfcf;
  --fg-mode-line: #ffcfdf;
  --fg-region: NONE;
  --fg-removed: #ffbfbf;
  --fg-space: #695960;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #a897ef;
  --fg-term-blue: #8fa5f6;
  --fg-term-cyan-bright: #8fcfdf;
  --fg-term-cyan: #8fbaef;
  --fg-term-green-bright: #60bf88;
  --fg-term-green: #60b444;
  --fg-term-magenta-bright: #df7fff;
  --fg-term-magenta: #ef80bf;
  --fg-term-red-bright: #ff656f;
  --fg-term-red: #ff7359;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #ea9955;
  --fg-term-yellow: #e5b76f;
  --fnname: #f59280;
  --green-cooler: #60bf88;
  --green-faint: #61a06c;
  --green-warmer: #80b25f;
  --green: #60b444;
  --identifier: #cc9bcf;
  --info: #60b444;
  --keybind: #ea9955;
  --keyword: #ef80bf;
  --link-alt: #e5b76f;
  --link: #df7fff;
  --magenta-cooler: #df7fff;
  --magenta-faint: #cc9bcf;
  --magenta-warmer: #f470df;
  --magenta: #ef80bf;
  --mail-cite-0: #ef80bf;
  --mail-cite-1: #e5b76f;
  --mail-cite-2: #a897ef;
  --mail-cite-3: #f470df;
  --mail-other: #ea9955;
  --mail-part: #df7fff;
  --mail-recipient: #f59280;
  --mail-subject: #ff7359;
  --modeline-err: #ff9f1f;
  --modeline-info: #6fefaf;
  --modeline-warning: #c0bf30;
  --name: #f59280;
  --preprocessor: #8fbaef;
  --prompt: #f470df;
  --prose-code: #e5b76f;
  --prose-done: #60b444;
  --prose-macro: #a897ef;
  --prose-metadata-value: #bf9cdf;
  --prose-metadata: #808898;
  --prose-table-formula: #ea9955;
  --prose-table: #bf9cdf;
  --prose-tag: #bf9f8f;
  --prose-todo: #ff656f;
  --prose-verbatim: #f470df;
  --rainbow-0: #f470df;
  --rainbow-1: #e5b76f;
  --rainbow-2: #ef80bf;
  --rainbow-3: #8fbaef;
  --rainbow-4: #f59280;
  --rainbow-5: #a897ef;
  --rainbow-6: #ff78aa;
  --rainbow-7: #9ac0e4;
  --rainbow-8: #df7fff;
  --red-cooler: #ff78aa;
  --red-faint: #e47f72;
  --red-warmer: #ff656f;
  --red: #ff7359;
  --rx-construct: #ff7359;
  --rx-escape: #9ac0e4;
  --string: #e5b76f;
  --type: #f470df;
  --underline-err: #df2f2f;
  --underline-info: #22b022;
  --underline-warning: #c0b000;
  --variable: #df7fff;
  --warning: #ea9955;
  --yellow-cooler: #f59280;
  --yellow-faint: #bf9f8f;
  --yellow-warmer: #ea9955;
  --yellow: #e5b76f;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
  --tab-selected-textcolor: var(--fg-main) !important;
  --tab-selected-color-scheme: only dark !important;

  --toolbar-color-scheme: only dark !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

