:root {
  /* Palette */
  --accent-0: #deb07a;
  --accent-1: #e47980;
  --accent-2: #f498c0;
  --accent-3: #80aadf;
  --bg-active: #5b595e;
  --bg-added-faint: #16383f;
  --bg-added-refine: #2f6767;
  --bg-added: #304a4f;
  --bg-alt: #3b393e;
  --bg-blue-intense: #4f509f;
  --bg-blue-subtle: #3a3e73;
  --bg-changed-faint: #40332f;
  --bg-changed-refine: #64651f;
  --bg-changed: #51512f;
  --bg-char-0: #0050af;
  --bg-char-1: #7f1f7f;
  --bg-char-2: #6f6600;
  --bg-completion: #503240;
  --bg-cyan-intense: #0280b9;
  --bg-cyan-subtle: #334d69;
  --bg-dim: #322f34;
  --bg-err: #501a2d;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #2fafef;
  --bg-graph-blue-1: #1f2f8f;
  --bg-graph-cyan-0: #47dfea;
  --bg-graph-cyan-1: #00808f;
  --bg-graph-green-0: #0fed00;
  --bg-graph-green-1: #007800;
  --bg-graph-magenta-0: #bf94fe;
  --bg-graph-magenta-1: #5f509f;
  --bg-graph-red-0: #b52c2c;
  --bg-graph-red-1: #702020;
  --bg-graph-yellow-0: #f1e00a;
  --bg-graph-yellow-1: #b08940;
  --bg-green-intense: #30682f;
  --bg-green-subtle: #2a532f;
  --bg-hl-line: #412f4f;
  --bg-hover-secondary: #665f7a;
  --bg-hover: #957856;
  --bg-inactive: #2a272c;
  --bg-info: #0f3f4f;
  --bg-magenta-intense: #885997;
  --bg-magenta-subtle: #66345a;
  --bg-main: #232025;
  --bg-mode-line: #675072;
  --bg-paren: #885566;
  --bg-red-intense: #a02f50;
  --bg-red-subtle: #6f202a;
  --bg-region: #544a50;
  --bg-removed-faint: #4a2034;
  --bg-removed-refine: #782a4a;
  --bg-removed: #5a3142;
  --bg-search-current: #8f665f;
  --bg-search-lazy: #4f509f;
  --bg-search-match: #4e3930;
  --bg-search-replace: #a02f50;
  --bg-search-rx-group-0: #885997;
  --bg-search-rx-group-1: #30682f;
  --bg-search-rx-group-2: #6f202a;
  --bg-search-rx-group-3: #334d69;
  --bg-space-err: #8f665f;
  --bg-space: NONE;
  --bg-tab-bar: #3b393e;
  --bg-tab-current: #232025;
  --bg-tab-other: #5b595e;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #12b4ff;
  --bg-term-blue: #80aadf;
  --bg-term-cyan-bright: #65c5a8;
  --bg-term-cyan: #6fb3c0;
  --bg-term-green-bright: #3fc489;
  --bg-term-green: #7fce5f;
  --bg-term-magenta-bright: #d0b0ff;
  --bg-term-magenta: #ffaacf;
  --bg-term-red-bright: #ff7a5f;
  --bg-term-red: #ff6f6f;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #d09950;
  --bg-term-yellow: #c0b24f;
  --bg-warning: #4e3930;
  --bg-yellow-intense: #8f665f;
  --bg-yellow-subtle: #62432a;
  --blue-cooler: #12b4ff;
  --blue-faint: #a0a0cf;
  --blue-warmer: #80aadf;
  --blue: #57b0ff;
  --border: #635850;
  --builtin: #e3b0c0;
  --comment: #a0a0cf;
  --constant: #80aadf;
  --cursor: #f3c09a;
  --cyan-cooler: #65c5a8;
  --cyan-faint: #99bfcf;
  --cyan-warmer: #8fcfd0;
  --cyan: #6fb3c0;
  --date-common: #e3b0c0;
  --date-deadline-subtle: #f3a0a0;
  --date-deadline: #e47980;
  --date-event: #b0a0cf;
  --date-holiday: #ff7a5f;
  --date-now: #efd5c5;
  --date-range: #b0a0cf;
  --date-scheduled-subtle: #caa89f;
  --date-scheduled: #deb07a;
  --date-weekday: #ffaacf;
  --date-weekend: #a0a0cf;
  --docstring: #caa89f;
  --err: #f498c0;
  --fg-added: #a0d0f0;
  --fg-alt: #b0a0cf;
  --fg-changed: #dada90;
  --fg-dim: #8f8886;
  --fg-fringe: NONE;
  --fg-intense: #ffffff;
  --fg-main: #efd5c5;
  --fg-mode-line: #fedeff;
  --fg-region: NONE;
  --fg-removed: #f0bfcf;
  --fg-space: #635850;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #12b4ff;
  --fg-term-blue: #80aadf;
  --fg-term-cyan-bright: #65c5a8;
  --fg-term-cyan: #6fb3c0;
  --fg-term-green-bright: #3fc489;
  --fg-term-green: #7fce5f;
  --fg-term-magenta-bright: #d0b0ff;
  --fg-term-magenta: #ffaacf;
  --fg-term-red-bright: #ff7a5f;
  --fg-term-red: #ff6f6f;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #d09950;
  --fg-term-yellow: #c0b24f;
  --fnname: #8fcfd0;
  --green-cooler: #3fc489;
  --green-faint: #a9c99f;
  --green-warmer: #7fce5f;
  --green: #51b04f;
  --identifier: #deb07a;
  --info: #6fb3c0;
  --keybind: #6fb3c0;
  --keyword: #deb07a;
  --link-alt: #8fcfd0;
  --link: #deb07a;
  --magenta-cooler: #d0b0ff;
  --magenta-faint: #e3b0c0;
  --magenta-warmer: #f498c0;
  --magenta: #ffaacf;
  --mail-cite-0: #deb07a;
  --mail-cite-1: #e47980;
  --mail-cite-2: #99bfcf;
  --mail-cite-3: #a9c99f;
  --mail-other: #e3b0c0;
  --mail-part: #f3a0a0;
  --mail-recipient: #99bfcf;
  --mail-subject: #f498c0;
  --modeline-err: #ffbfbf;
  --modeline-info: #7fefff;
  --modeline-warning: #dfd443;
  --name: #8fcfd0;
  --preprocessor: #65c5a8;
  --prompt: #ffaacf;
  --prose-code: #80aadf;
  --prose-done: #8fcfd0;
  --prose-macro: #3fc489;
  --prose-metadata-value: #b0a0cf;
  --prose-metadata: #8f8886;
  --prose-table-formula: #6fb3c0;
  --prose-table: #b0a0cf;
  --prose-tag: #caa89f;
  --prose-todo: #d09950;
  --prose-verbatim: #f498c0;
  --rainbow-0: #deb07a;
  --rainbow-1: #ffaacf;
  --rainbow-2: #80aadf;
  --rainbow-3: #e47980;
  --rainbow-4: #d0b0ff;
  --rainbow-5: #3fc489;
  --rainbow-6: #6fb3c0;
  --rainbow-7: #c0b24f;
  --rainbow-8: #f3a0a0;
  --red-cooler: #e47980;
  --red-faint: #f3a0a0;
  --red-warmer: #ff7a5f;
  --red: #ff6f6f;
  --rx-construct: #e47980;
  --rx-escape: #65c5a8;
  --string: #f3a0a0;
  --type: #a9c99f;
  --underline-err: #c04f9f;
  --underline-info: #229fb2;
  --underline-warning: #c0b000;
  --variable: #ffaacf;
  --warning: #d09950;
  --yellow-cooler: #deb07a;
  --yellow-faint: #caa89f;
  --yellow-warmer: #d09950;
  --yellow: #c0b24f;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

