:root {
  /* Palette */
  --accent-0: #6f80ff;
  --accent-1: #d0730f;
  --accent-2: #00b982;
  --accent-3: #ef656a;
  --bg-active: #4a4759;
  --bg-added-faint: #001f18;
  --bg-added-refine: #003b2f;
  --bg-added: #002d1f;
  --bg-alt: #2a2739;
  --bg-blue-intense: #4648d0;
  --bg-blue-subtle: #242679;
  --bg-changed-faint: #2a2000;
  --bg-changed-refine: #444000;
  --bg-changed: #323200;
  --bg-char-0: #0050af;
  --bg-char-1: #7f1f7f;
  --bg-char-2: #625a00;
  --bg-completion: #2f1a5f;
  --bg-cyan-intense: #2270be;
  --bg-cyan-subtle: #004065;
  --bg-dim: #1d1a26;
  --bg-err: #461210;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #2fafef;
  --bg-graph-blue-1: #1f2f8f;
  --bg-graph-cyan-0: #47dfea;
  --bg-graph-cyan-1: #00808f;
  --bg-graph-green-0: #0fed00;
  --bg-graph-green-1: #007800;
  --bg-graph-magenta-0: #bf94fe;
  --bg-graph-magenta-1: #5f509f;
  --bg-graph-red-0: #b52c2c;
  --bg-graph-red-1: #702020;
  --bg-graph-yellow-0: #f1e00a;
  --bg-graph-yellow-1: #b08940;
  --bg-green-intense: #407720;
  --bg-green-subtle: #00422a;
  --bg-hl-line: #301a4f;
  --bg-hover-secondary: #264f4a;
  --bg-hover: #664f4a;
  --bg-inactive: #13101f;
  --bg-info: #10350a;
  --bg-magenta-intense: #b04fcf;
  --bg-magenta-subtle: #501f72;
  --bg-main: #070019;
  --bg-mode-line: #352487;
  --bg-paren: #2f608e;
  --bg-red-intense: #cd2f30;
  --bg-red-subtle: #72002a;
  --bg-region: #042a50;
  --bg-removed-faint: #27040f;
  --bg-removed-refine: #5b0f26;
  --bg-removed: #3d091f;
  --bg-search-current: #8f5040;
  --bg-search-lazy: #4648d0;
  --bg-search-match: #3a3004;
  --bg-search-replace: #cd2f30;
  --bg-search-rx-group-0: #b04fcf;
  --bg-search-rx-group-1: #407720;
  --bg-search-rx-group-2: #72002a;
  --bg-search-rx-group-3: #004065;
  --bg-space-err: #8f5040;
  --bg-space: NONE;
  --bg-tab-bar: #2a2739;
  --bg-tab-current: #070019;
  --bg-tab-other: #4a4759;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #029fff;
  --bg-term-blue: #6f80ff;
  --bg-term-cyan-bright: #0dafdf;
  --bg-term-cyan: #5faaef;
  --bg-term-green-bright: #00b982;
  --bg-term-green: #50a22f;
  --bg-term-magenta-bright: #af85ff;
  --bg-term-magenta: #d369af;
  --bg-term-red-bright: #f47360;
  --bg-term-red: #ef656a;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #d0730f;
  --bg-term-yellow: #c48702;
  --bg-warning: #3a3004;
  --bg-yellow-intense: #8f5040;
  --bg-yellow-subtle: #603000;
  --blue-cooler: #029fff;
  --blue-faint: #8a9fdf;
  --blue-warmer: #6f80ff;
  --blue: #379cf6;
  --border: #545f6f;
  --builtin: #5faaef;
  --comment: #d08f72;
  --constant: #379cf6;
  --cursor: #ef6f11;
  --cyan-cooler: #0dafdf;
  --cyan-faint: #8aa0df;
  --cyan-warmer: #7fafff;
  --cyan: #5faaef;
  --date-common: #0dafdf;
  --date-deadline-subtle: #d08f72;
  --date-deadline: #ef656a;
  --date-event: #89afef;
  --date-holiday: #e580ea;
  --date-now: #d0d0d0;
  --date-range: #89afef;
  --date-scheduled-subtle: #9f8f6a;
  --date-scheduled: #c48702;
  --date-weekday: #5faaef;
  --date-weekend: #d08f72;
  --docstring: #8a9fdf;
  --err: #ef656a;
  --fg-added: #a0e0a0;
  --fg-alt: #89afef;
  --fg-changed: #efef80;
  --fg-dim: #857f8f;
  --fg-fringe: NONE;
  --fg-intense: #ffffff;
  --fg-main: #d0d0d0;
  --fg-mode-line: #dedeff;
  --fg-region: NONE;
  --fg-removed: #ffbfbf;
  --fg-space: #545f6f;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #029fff;
  --fg-term-blue: #6f80ff;
  --fg-term-cyan-bright: #0dafdf;
  --fg-term-cyan: #5faaef;
  --fg-term-green-bright: #00b982;
  --fg-term-green: #50a22f;
  --fg-term-magenta-bright: #af85ff;
  --fg-term-magenta: #d369af;
  --fg-term-red-bright: #f47360;
  --fg-term-red: #ef656a;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #d0730f;
  --fg-term-yellow: #c48702;
  --fnname: #0dafdf;
  --green-cooler: #00b982;
  --green-faint: #61a06c;
  --green-warmer: #50a22f;
  --green: #1fa526;
  --identifier: #d08f72;
  --info: #1fa526;
  --keybind: #029fff;
  --keyword: #6f80ff;
  --link-alt: #00b982;
  --link: #7fafff;
  --magenta-cooler: #af85ff;
  --magenta-faint: #c57faf;
  --magenta-warmer: #e580ea;
  --magenta: #d369af;
  --mail-cite-0: #5faaef;
  --mail-cite-1: #df805f;
  --mail-cite-2: #6f80ff;
  --mail-cite-3: #c48702;
  --mail-other: #7fafff;
  --mail-part: #8a9fdf;
  --mail-recipient: #379cf6;
  --mail-subject: #d0730f;
  --modeline-err: #ff8faf;
  --modeline-info: #00e06f;
  --modeline-warning: #dfcf00;
  --name: #379cf6;
  --preprocessor: #7fafff;
  --prompt: #c48702;
  --prose-code: #d0730f;
  --prose-done: #1fa526;
  --prose-macro: #00b982;
  --prose-metadata-value: #89afef;
  --prose-metadata: #857f8f;
  --prose-table-formula: #c48702;
  --prose-table: #89afef;
  --prose-tag: #9f8f6a;
  --prose-todo: #ef656a;
  --prose-verbatim: #6f80ff;
  --rainbow-0: #379cf6;
  --rainbow-1: #d0730f;
  --rainbow-2: #6f80ff;
  --rainbow-3: #df805f;
  --rainbow-4: #0dafdf;
  --rainbow-5: #c48702;
  --rainbow-6: #029fff;
  --rainbow-7: #ef798f;
  --rainbow-8: #00b982;
  --red-cooler: #ef798f;
  --red-faint: #d08f72;
  --red-warmer: #f47360;
  --red: #ef656a;
  --rx-construct: #379cf6;
  --rx-escape: #af85ff;
  --string: #df805f;
  --type: #029fff;
  --underline-err: #df2f2f;
  --underline-info: #22b022;
  --underline-warning: #c0b000;
  --variable: #af85ff;
  --warning: #c48702;
  --yellow-cooler: #df805f;
  --yellow-faint: #9f8f6a;
  --yellow-warmer: #d0730f;
  --yellow: #c48702;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

