* {
  color-scheme: only light !important;
}

:root {
  /* Palette */
  --accent-0: #ba5205;
  --accent-1: #008250;
  --accent-2: #ba2d2f;
  --accent-3: #6448ca;
  --bg-active: #c7b7a6;
  --bg-added-faint: #eef3c2;
  --bg-added-refine: #c9dda0;
  --bg-added: #d7ecb0;
  --bg-alt: #e7d7c6;
  --bg-blue-intense: #cfceff;
  --bg-blue-subtle: #cce4f2;
  --bg-changed-faint: #f5edaf;
  --bg-changed-refine: #edd482;
  --bg-changed: #f5e690;
  --bg-char-0: #7feaff;
  --bg-char-1: #f0a0f0;
  --bg-char-2: #d0e000;
  --bg-completion: #ffe2a8;
  --bg-cyan-intense: #88cfd0;
  --bg-cyan-subtle: #bfefef;
  --bg-dim: #f5e9cb;
  --bg-err: #ffd4b5;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #7f90ff;
  --bg-graph-blue-1: #a6c0ff;
  --bg-graph-cyan-0: #70d3f0;
  --bg-graph-cyan-1: #afefff;
  --bg-graph-green-0: #45c050;
  --bg-graph-green-1: #75ef30;
  --bg-graph-magenta-0: #e07fff;
  --bg-graph-magenta-1: #fad0ff;
  --bg-graph-red-0: #ef7969;
  --bg-graph-red-1: #ffaab4;
  --bg-graph-yellow-0: #ffcf00;
  --bg-graph-yellow-1: #f9ff00;
  --bg-green-intense: #96df80;
  --bg-green-subtle: #cbf09f;
  --bg-hl-line: #fae7b0;
  --bg-hover-secondary: #c4d47a;
  --bg-hover: #deb4f0;
  --bg-inactive: #f9efd4;
  --bg-info: #ddf5ac;
  --bg-magenta-intense: #df9fff;
  --bg-magenta-subtle: #fad6ef;
  --bg-main: #fff6d8;
  --bg-mode-line: #f3cf72;
  --bg-paren: #afcf8f;
  --bg-red-intense: #ff8f88;
  --bg-red-subtle: #ffceb0;
  --bg-region: #f0d4d8;
  --bg-removed-faint: #f5deb0;
  --bg-removed-refine: #f0bba9;
  --bg-removed: #f8d0b6;
  --bg-search-current: #efbf00;
  --bg-search-lazy: #cfceff;
  --bg-search-match: #ffe89f;
  --bg-search-replace: #ff8f88;
  --bg-search-rx-group-0: #df9fff;
  --bg-search-rx-group-1: #96df80;
  --bg-search-rx-group-2: #ffceb0;
  --bg-search-rx-group-3: #bfefef;
  --bg-space-err: #efbf00;
  --bg-space: NONE;
  --bg-tab-bar: #e7d7c6;
  --bg-tab-current: #fff6d8;
  --bg-tab-other: #c7b7a6;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #5f5fdf;
  --bg-term-blue: #375cc6;
  --bg-term-cyan-bright: #0f708a;
  --bg-term-cyan: #3f60af;
  --bg-term-green-bright: #5a7400;
  --bg-term-green: #007a0a;
  --bg-term-magenta-bright: #6448ca;
  --bg-term-magenta: #aa3e74;
  --bg-term-red-bright: #c74400;
  --bg-term-red: #ba2d2f;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #ba5205;
  --bg-term-yellow: #a26310;
  --bg-warning: #ffe89f;
  --bg-yellow-intense: #efbf00;
  --bg-yellow-subtle: #f4ed7e;
  --blue-cooler: #265fbf;
  --blue-faint: #4a659f;
  --blue-warmer: #5f5fdf;
  --blue: #375cc6;
  --border: #c5baa6;
  --builtin: #946830;
  --comment: #7f6f1a;
  --constant: #3f60af;
  --cursor: #a07f00;
  --cyan-cooler: #0f708a;
  --cyan-faint: #4f6f8f;
  --cyan-warmer: #4060a0;
  --cyan: #3f60af;
  --date-common: #5a7400;
  --date-deadline-subtle: #b05350;
  --date-deadline: #ba2d2f;
  --date-event: #80431a;
  --date-holiday: #b02f80;
  --date-now: #484431;
  --date-range: #80431a;
  --date-scheduled-subtle: #7f6f1a;
  --date-scheduled: #a26310;
  --date-weekday: #5a7400;
  --date-weekend: #b05350;
  --docstring: #b05350;
  --err: #c74400;
  --fg-added: #005000;
  --fg-alt: #80431a;
  --fg-changed: #553d00;
  --fg-dim: #68708a;
  --fg-fringe: NONE;
  --fg-intense: #000000;
  --fg-main: #484431;
  --fg-mode-line: #403328;
  --fg-region: NONE;
  --fg-removed: #8f1313;
  --fg-space: #c5baa6;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #5f5fdf;
  --fg-term-blue: #375cc6;
  --fg-term-cyan-bright: #0f708a;
  --fg-term-cyan: #3f60af;
  --fg-term-green-bright: #5a7400;
  --fg-term-green: #007a0a;
  --fg-term-magenta-bright: #6448ca;
  --fg-term-magenta: #aa3e74;
  --fg-term-red-bright: #c74400;
  --fg-term-red: #ba2d2f;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #ba5205;
  --fg-term-yellow: #a26310;
  --fnname: #5a7400;
  --green-cooler: #008250;
  --green-faint: #61756c;
  --green-warmer: #5a7400;
  --green: #007a0a;
  --identifier: #b05350;
  --info: #007a0a;
  --keybind: #ba5205;
  --keyword: #a26310;
  --link-alt: #6448ca;
  --link: #a26310;
  --magenta-cooler: #6448ca;
  --magenta-faint: #905ea0;
  --magenta-warmer: #b02f80;
  --magenta: #aa3e74;
  --mail-cite-0: #ba5205;
  --mail-cite-1: #4060a0;
  --mail-cite-2: #c02945;
  --mail-cite-3: #008250;
  --mail-other: #946830;
  --mail-part: #0f708a;
  --mail-recipient: #a26310;
  --mail-subject: #5a7400;
  --modeline-err: #900000;
  --modeline-info: #1f409f;
  --modeline-warning: #66008f;
  --name: #946830;
  --preprocessor: #ba5205;
  --prompt: #5a7400;
  --prose-code: #ba5205;
  --prose-done: #007a0a;
  --prose-macro: #5a7400;
  --prose-metadata-value: #80431a;
  --prose-metadata: #68708a;
  --prose-table-formula: #ba5205;
  --prose-table: #80431a;
  --prose-tag: #7f6f1a;
  --prose-todo: #c74400;
  --prose-verbatim: #ba2d2f;
  --rainbow-0: #ba5205;
  --rainbow-1: #a26310;
  --rainbow-2: #5a7400;
  --rainbow-3: #c02945;
  --rainbow-4: #4060a0;
  --rainbow-5: #aa3e74;
  --rainbow-6: #008250;
  --rainbow-7: #b02f80;
  --rainbow-8: #0f708a;
  --red-cooler: #c02945;
  --red-faint: #b05350;
  --red-warmer: #c74400;
  --red: #ba2d2f;
  --rx-construct: #6448ca;
  --rx-escape: #007a0a;
  --string: #c74400;
  --type: #008250;
  --underline-err: #ef0f1f;
  --underline-info: #02af52;
  --underline-warning: #bf5f00;
  --variable: #0f708a;
  --warning: #ba5205;
  --yellow-cooler: #946830;
  --yellow-faint: #7f6f1a;
  --yellow-warmer: #ba5205;
  --yellow: #a26310;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
  --tab-selected-textcolor: var(--fg-main) !important;
  --tab-selected-color-scheme: only light !important;

  --toolbar-color-scheme: only light !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

