:root {
  /* Palette */
  --accent-0: #8ad05a;
  --accent-1: #f28fdf;
  --accent-2: #f2a85f;
  --accent-3: #49d081;
  --bg-active: #6a5862;
  --bg-added-faint: #2a382f;
  --bg-added-refine: #1d6044;
  --bg-added: #2f4735;
  --bg-alt: #4a3842;
  --bg-blue-intense: #2f5f9f;
  --bg-blue-subtle: #424075;
  --bg-changed-faint: #40332f;
  --bg-changed-refine: #61621f;
  --bg-changed: #51512f;
  --bg-char-0: #0050af;
  --bg-char-1: #7f1f7f;
  --bg-char-2: #6f6600;
  --bg-completion: #6e425f;
  --bg-cyan-intense: #028099;
  --bg-cyan-subtle: #3f4e72;
  --bg-dim: #432e32;
  --bg-err: #551a07;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #2fafef;
  --bg-graph-blue-1: #1f2f8f;
  --bg-graph-cyan-0: #47dfea;
  --bg-graph-cyan-1: #00808f;
  --bg-graph-green-0: #0fed00;
  --bg-graph-green-1: #007800;
  --bg-graph-magenta-0: #bf94fe;
  --bg-graph-magenta-1: #5f509f;
  --bg-graph-red-0: #b52c2c;
  --bg-graph-red-1: #702020;
  --bg-graph-yellow-0: #f1e00a;
  --bg-graph-yellow-1: #b08940;
  --bg-green-intense: #408420;
  --bg-green-subtle: #38512f;
  --bg-hl-line: #42352f;
  --bg-hover-secondary: #6a4f5f;
  --bg-hover: #3f6a50;
  --bg-inactive: #362129;
  --bg-info: #0f4312;
  --bg-magenta-intense: #905fdf;
  --bg-magenta-subtle: #6b3c52;
  --bg-main: #322023;
  --bg-mode-line: #814558;
  --bg-paren: #7c454f;
  --bg-red-intense: #bd1f30;
  --bg-red-subtle: #772c2a;
  --bg-region: #45524a;
  --bg-removed-faint: #4a242a;
  --bg-removed-refine: #792d35;
  --bg-removed: #5f252f;
  --bg-search-current: #847020;
  --bg-search-lazy: #2f5f9f;
  --bg-search-match: #4f3f13;
  --bg-search-replace: #bd1f30;
  --bg-search-rx-group-0: #905fdf;
  --bg-search-rx-group-1: #408420;
  --bg-search-rx-group-2: #772c2a;
  --bg-search-rx-group-3: #3f4e72;
  --bg-space-err: #847020;
  --bg-space: NONE;
  --bg-tab-bar: #4a3842;
  --bg-tab-current: #322023;
  --bg-tab-other: #6a5862;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #78b2ff;
  --bg-term-blue: #57aff6;
  --bg-term-cyan-bright: #80dfbf;
  --bg-term-cyan: #5fc0dc;
  --bg-term-green-bright: #8ad05a;
  --bg-term-green: #5fbb5f;
  --bg-term-magenta-bright: #cfb1ff;
  --bg-term-magenta: #ffb2d6;
  --bg-term-red-bright: #ff7f5f;
  --bg-term-red: #ff707f;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #f2a85f;
  --bg-term-yellow: #e4c53f;
  --bg-warning: #4f3f13;
  --bg-yellow-intense: #847020;
  --bg-yellow-subtle: #634627;
  --blue-cooler: #62cff7;
  --blue-faint: #9fbfdf;
  --blue-warmer: #78b2ff;
  --blue: #57aff6;
  --border: #6f5f58;
  --builtin: #cfb1ff;
  --comment: #9aba8b;
  --constant: #49d081;
  --cursor: #ef607a;
  --cyan-cooler: #80dfbf;
  --cyan-faint: #99bfcf;
  --cyan-warmer: #7fc5df;
  --cyan: #5fc0dc;
  --date-common: #cfb1ff;
  --date-deadline-subtle: #e89f84;
  --date-deadline: #ffb2d6;
  --date-event: #96c4af;
  --date-holiday: #5fbb5f;
  --date-now: #e4d3e1;
  --date-range: #96c4af;
  --date-scheduled-subtle: #d8c09f;
  --date-scheduled: #eec26f;
  --date-weekday: #cfb1ff;
  --date-weekend: #f0888f;
  --docstring: #d8c09f;
  --err: #ff7f5f;
  --fg-added: #a0e0a0;
  --fg-alt: #96c4af;
  --fg-changed: #dada90;
  --fg-dim: #9d9d9d;
  --fg-fringe: NONE;
  --fg-intense: #ffffff;
  --fg-main: #e4d3e1;
  --fg-mode-line: #e8e5e7;
  --fg-region: NONE;
  --fg-removed: #ffbfbf;
  --fg-space: #6f5f58;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #78b2ff;
  --fg-term-blue: #57aff6;
  --fg-term-cyan-bright: #80dfbf;
  --fg-term-cyan: #5fc0dc;
  --fg-term-green-bright: #8ad05a;
  --fg-term-green: #5fbb5f;
  --fg-term-magenta-bright: #cfb1ff;
  --fg-term-magenta: #ffb2d6;
  --fg-term-red-bright: #ff7f5f;
  --fg-term-red: #ff707f;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #f2a85f;
  --fg-term-yellow: #e4c53f;
  --fnname: #f28fdf;
  --green-cooler: #49d081;
  --green-faint: #9aba8b;
  --green-warmer: #8ad05a;
  --green: #5fbb5f;
  --identifier: #9aba8b;
  --info: #5fbb5f;
  --keybind: #f28fdf;
  --keyword: #ffb2d6;
  --link-alt: #cfb1ff;
  --link: #49d081;
  --magenta-cooler: #cfb1ff;
  --magenta-faint: #c59fdf;
  --magenta-warmer: #f28fdf;
  --magenta: #ffb2d6;
  --mail-cite-0: #8ad05a;
  --mail-cite-1: #80dfbf;
  --mail-cite-2: #f0888f;
  --mail-cite-3: #eec26f;
  --mail-other: #f28fdf;
  --mail-part: #cfb1ff;
  --mail-recipient: #ffb2d6;
  --mail-subject: #5fbb5f;
  --modeline-err: #ffb4ff;
  --modeline-info: #7fefff;
  --modeline-warning: #dfdf43;
  --name: #f28fdf;
  --preprocessor: #f0888f;
  --prompt: #80dfbf;
  --prose-code: #f28fdf;
  --prose-done: #49d081;
  --prose-macro: #f0888f;
  --prose-metadata-value: #96c4af;
  --prose-metadata: #9d9d9d;
  --prose-table-formula: #5fbb5f;
  --prose-table: #96c4af;
  --prose-tag: #d8c09f;
  --prose-todo: #ff7f5f;
  --prose-verbatim: #80dfbf;
  --rainbow-0: #f28fdf;
  --rainbow-1: #8ad05a;
  --rainbow-2: #ffb2d6;
  --rainbow-3: #eec26f;
  --rainbow-4: #cfb1ff;
  --rainbow-5: #f0888f;
  --rainbow-6: #5fbb5f;
  --rainbow-7: #f2a85f;
  --rainbow-8: #80dfbf;
  --red-cooler: #f0888f;
  --red-faint: #e89f84;
  --red-warmer: #ff7f5f;
  --red: #ff707f;
  --rx-construct: #62cff7;
  --rx-escape: #f0888f;
  --string: #8ad05a;
  --type: #7fc5df;
  --underline-err: #df4f2f;
  --underline-info: #22b022;
  --underline-warning: #d4c000;
  --variable: #80dfbf;
  --warning: #f2a85f;
  --yellow-cooler: #eec26f;
  --yellow-faint: #d8c09f;
  --yellow-warmer: #f2a85f;
  --yellow: #e4c53f;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

