:root {
  /* Palette */
  --accent-0: #87591f;
  --accent-1: #ba2d2f;
  --accent-2: #a73080;
  --accent-3: #5059c0;
  --bg-active: #b9aaa8;
  --bg-added-faint: #c9edd7;
  --bg-added-refine: #a4d4c4;
  --bg-added: #b4e9d0;
  --bg-alt: #d9cac8;
  --bg-blue-intense: #c0c0f0;
  --bg-blue-subtle: #ccd0f4;
  --bg-changed-faint: #f5edaf;
  --bg-changed-refine: #eed284;
  --bg-changed: #f5e690;
  --bg-char-0: #7feaff;
  --bg-char-1: #f0a0f0;
  --bg-char-2: #d0e000;
  --bg-completion: #e9cedd;
  --bg-cyan-intense: #8fc6d0;
  --bg-cyan-subtle: #bae5e0;
  --bg-dim: #e5d6d4;
  --bg-err: #ffc4d4;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #7f90ff;
  --bg-graph-blue-1: #a6c0ff;
  --bg-graph-cyan-0: #70d3f0;
  --bg-graph-cyan-1: #afefff;
  --bg-graph-green-0: #45c050;
  --bg-graph-green-1: #75ef30;
  --bg-graph-magenta-0: #e07fff;
  --bg-graph-magenta-1: #fad0ff;
  --bg-graph-red-0: #ef7969;
  --bg-graph-red-1: #ffaab4;
  --bg-graph-yellow-0: #ffcf00;
  --bg-graph-yellow-1: #f9ff00;
  --bg-green-intense: #96d080;
  --bg-green-subtle: #b9e0b4;
  --bg-hl-line: #e7d9e0;
  --bg-hover-secondary: #d0c4e4;
  --bg-hover: #ddc97f;
  --bg-inactive: #ede4da;
  --bg-info: #dddef0;
  --bg-magenta-intense: #daaaf0;
  --bg-magenta-subtle: #edc9ea;
  --bg-main: #f3eddf;
  --bg-mode-line: #d1b0df;
  --bg-paren: #bf9fbf;
  --bg-red-intense: #ed899f;
  --bg-red-subtle: #f0c0b0;
  --bg-region: #e0d0ba;
  --bg-removed-faint: #f4d8d0;
  --bg-removed-refine: #f9a8bd;
  --bg-removed: #f8c3bf;
  --bg-search-current: #e2b270;
  --bg-search-lazy: #c0c0f0;
  --bg-search-match: #f0e0a4;
  --bg-search-replace: #ed899f;
  --bg-search-rx-group-0: #daaaf0;
  --bg-search-rx-group-1: #96d080;
  --bg-search-rx-group-2: #f0c0b0;
  --bg-search-rx-group-3: #bae5e0;
  --bg-space-err: #e2b270;
  --bg-space: NONE;
  --bg-tab-bar: #d9cac8;
  --bg-tab-current: #f3eddf;
  --bg-tab-other: #b9aaa8;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #265fbf;
  --bg-term-blue: #5059c0;
  --bg-term-cyan-bright: #0b6e8a;
  --bg-term-cyan: #3060af;
  --bg-term-green-bright: #008250;
  --bg-term-green: #5a7400;
  --bg-term-magenta-bright: #7755b4;
  --bg-term-magenta: #9f4e74;
  --bg-term-red-bright: #b21f00;
  --bg-term-red: #ba2d2f;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #a05900;
  --bg-term-yellow: #87591f;
  --bg-warning: #f0e0a4;
  --bg-yellow-intense: #e2b270;
  --bg-yellow-subtle: #ebe08f;
  --blue-cooler: #265fbf;
  --blue-faint: #475d80;
  --blue-warmer: #5059c0;
  --blue: #375cc6;
  --border: #c5afb6;
  --builtin: #97508f;
  --comment: #475d80;
  --constant: #5059c0;
  --cursor: #9d5744;
  --cyan-cooler: #0b6e8a;
  --cyan-faint: #456b82;
  --cyan-warmer: #4f60a0;
  --cyan: #3060af;
  --date-common: #97508f;
  --date-deadline-subtle: #a04650;
  --date-deadline: #a83058;
  --date-event: #55447f;
  --date-holiday: #b21f00;
  --date-now: #4f204f;
  --date-range: #55447f;
  --date-scheduled-subtle: #7a5c50;
  --date-scheduled: #906045;
  --date-weekday: #9f4e74;
  --date-weekend: #475d80;
  --docstring: #7a5c50;
  --err: #a73080;
  --fg-added: #0f443f;
  --fg-alt: #55447f;
  --fg-changed: #553d00;
  --fg-dim: #6f6877;
  --fg-fringe: NONE;
  --fg-intense: #000000;
  --fg-main: #4f204f;
  --fg-mode-line: #523044;
  --fg-region: NONE;
  --fg-removed: #801530;
  --fg-space: #c5afb6;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #265fbf;
  --fg-term-blue: #5059c0;
  --fg-term-cyan-bright: #0b6e8a;
  --fg-term-cyan: #3060af;
  --fg-term-green-bright: #008250;
  --fg-term-green: #5a7400;
  --fg-term-magenta-bright: #7755b4;
  --fg-term-magenta: #9f4e74;
  --fg-term-red-bright: #b21f00;
  --fg-term-red: #ba2d2f;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #a05900;
  --fg-term-yellow: #87591f;
  --fnname: #4f60a0;
  --green-cooler: #008250;
  --green-faint: #426340;
  --green-warmer: #5a7400;
  --green: #007a0a;
  --identifier: #906045;
  --info: #3060af;
  --keybind: #3060af;
  --keyword: #906045;
  --link-alt: #4f60a0;
  --link: #906045;
  --magenta-cooler: #7755b4;
  --magenta-faint: #97508f;
  --magenta-warmer: #a73080;
  --magenta: #9f4e74;
  --mail-cite-0: #906045;
  --mail-cite-1: #a83058;
  --mail-cite-2: #456b82;
  --mail-cite-3: #426340;
  --mail-other: #97508f;
  --mail-part: #a04650;
  --mail-recipient: #456b82;
  --mail-subject: #a73080;
  --modeline-err: #900000;
  --modeline-info: #1f409f;
  --modeline-warning: #66008f;
  --name: #4f60a0;
  --preprocessor: #0b6e8a;
  --prompt: #9f4e74;
  --prose-code: #5059c0;
  --prose-done: #0b6e8a;
  --prose-macro: #008250;
  --prose-metadata-value: #55447f;
  --prose-metadata: #6f6877;
  --prose-table-formula: #3060af;
  --prose-table: #55447f;
  --prose-tag: #7a5c50;
  --prose-todo: #a05900;
  --prose-verbatim: #a73080;
  --rainbow-0: #906045;
  --rainbow-1: #9f4e74;
  --rainbow-2: #5059c0;
  --rainbow-3: #a83058;
  --rainbow-4: #7755b4;
  --rainbow-5: #008250;
  --rainbow-6: #3060af;
  --rainbow-7: #87591f;
  --rainbow-8: #a04650;
  --red-cooler: #a83058;
  --red-faint: #a04650;
  --red-warmer: #b21f00;
  --red: #ba2d2f;
  --rx-construct: #b21f00;
  --rx-escape: #0b6e8a;
  --string: #a04650;
  --type: #426340;
  --underline-err: #c00f4f;
  --underline-info: #028082;
  --underline-warning: #bf5f00;
  --variable: #9f4e74;
  --warning: #a05900;
  --yellow-cooler: #906045;
  --yellow-faint: #7a5c50;
  --yellow-warmer: #a05900;
  --yellow: #87591f;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

