* {
  color-scheme: only light !important;
}

:root {
  /* Palette */
  --accent-0: #1a870f;
  --accent-1: #cf2f4f;
  --accent-2: #375cc6;
  --accent-3: #b6540f;
  --bg-active: #c0c6c3;
  --bg-added-faint: #d7ffe5;
  --bg-added-refine: #b3efcf;
  --bg-added: #c9ffda;
  --bg-alt: #e0e6e3;
  --bg-blue-intense: #afdfff;
  --bg-blue-subtle: #ccdfff;
  --bg-changed-faint: #f5efcb;
  --bg-changed-refine: #efd299;
  --bg-changed: #f0e8bd;
  --bg-char-0: #7feaff;
  --bg-char-1: #ffaaff;
  --bg-char-2: #dff000;
  --bg-completion: #ccedff;
  --bg-cyan-intense: #80caf0;
  --bg-cyan-subtle: #bfefff;
  --bg-dim: #e8f0f0;
  --bg-err: #ffe8e0;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #7f90ff;
  --bg-graph-blue-1: #a6c0ff;
  --bg-graph-cyan-0: #70d3f0;
  --bg-graph-cyan-1: #afefff;
  --bg-graph-green-0: #45c050;
  --bg-graph-green-1: #75ef30;
  --bg-graph-magenta-0: #e07fff;
  --bg-graph-magenta-1: #fad0ff;
  --bg-graph-red-0: #ef7969;
  --bg-graph-red-1: #ffaab4;
  --bg-graph-yellow-0: #ffcf00;
  --bg-graph-yellow-1: #f9ff00;
  --bg-green-intense: #7fdda0;
  --bg-green-subtle: #b2faa5;
  --bg-hl-line: #f9e0e5;
  --bg-hover-secondary: #f0bfff;
  --bg-hover: #ffc09f;
  --bg-inactive: #f0f8f4;
  --bg-info: #ccf5dd;
  --bg-magenta-intense: #df8fff;
  --bg-magenta-subtle: #ffddff;
  --bg-main: #f6fff9;
  --bg-mode-line: #90e8b0;
  --bg-paren: #7fddd0;
  --bg-red-intense: #ff8f88;
  --bg-red-subtle: #ffcfbf;
  --bg-region: #d0e6ff;
  --bg-removed-faint: #ffe9e6;
  --bg-removed-refine: #f5bfc8;
  --bg-removed: #ffd6e0;
  --bg-search-current: #efcf00;
  --bg-search-lazy: #afdfff;
  --bg-search-match: #ffecba;
  --bg-search-replace: #ff8f88;
  --bg-search-rx-group-0: #df8fff;
  --bg-search-rx-group-1: #7fdda0;
  --bg-search-rx-group-2: #ffcfbf;
  --bg-search-rx-group-3: #bfefff;
  --bg-space-err: #efcf00;
  --bg-space: NONE;
  --bg-tab-bar: #e0e6e3;
  --bg-tab-current: #f6fff9;
  --bg-tab-other: #c0c6c3;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #265fbf;
  --bg-term-blue: #5f5fdf;
  --bg-term-cyan-bright: #0f7b8f;
  --bg-term-cyan: #1f6fbf;
  --bg-term-green-bright: #007f68;
  --bg-term-green: #1a870f;
  --bg-term-magenta-bright: #9435b4;
  --bg-term-magenta: #d5206f;
  --bg-term-red-bright: #cf2f4f;
  --bg-term-red: #c42d2f;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #a45f22;
  --bg-term-yellow: #b6540f;
  --bg-warning: #ffecba;
  --bg-yellow-intense: #efcf00;
  --bg-yellow-subtle: #f0f37f;
  --blue-cooler: #265fbf;
  --blue-faint: #6a65bf;
  --blue-warmer: #5f5fdf;
  --blue: #375cc6;
  --border: #b4c4c0;
  --builtin: #1a870f;
  --comment: #876450;
  --constant: #d03003;
  --cursor: #bf005f;
  --cyan-cooler: #0f7b8f;
  --cyan-faint: #5f6abf;
  --cyan-warmer: #3f6faf;
  --cyan: #1f6fbf;
  --date-common: #1f6fbf;
  --date-deadline-subtle: #b64850;
  --date-deadline: #d03003;
  --date-event: #9d5e7a;
  --date-holiday: #cb26a0;
  --date-now: #34494a;
  --date-range: #9d5e7a;
  --date-scheduled-subtle: #876450;
  --date-scheduled: #a45f22;
  --date-weekday: #1f6fbf;
  --date-weekend: #b64850;
  --docstring: #a04360;
  --err: #d03003;
  --fg-added: #005000;
  --fg-alt: #9d5e7a;
  --fg-changed: #553d00;
  --fg-dim: #777294;
  --fg-fringe: NONE;
  --fg-intense: #000000;
  --fg-main: #34494a;
  --fg-mode-line: #243228;
  --fg-region: NONE;
  --fg-removed: #8f1313;
  --fg-space: #b4c4c0;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #265fbf;
  --fg-term-blue: #5f5fdf;
  --fg-term-cyan-bright: #0f7b8f;
  --fg-term-cyan: #1f6fbf;
  --fg-term-green-bright: #007f68;
  --fg-term-green: #1a870f;
  --fg-term-magenta-bright: #9435b4;
  --fg-term-magenta: #d5206f;
  --fg-term-red-bright: #cf2f4f;
  --fg-term-red: #c42d2f;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #a45f22;
  --fg-term-yellow: #b6540f;
  --fnname: #4a7d00;
  --green-cooler: #007f68;
  --green-faint: #61756c;
  --green-warmer: #4a7d00;
  --green: #1a870f;
  --identifier: #a04360;
  --info: #1a870f;
  --keybind: #cb26a0;
  --keyword: #007f68;
  --link-alt: #ae5a30;
  --link: #0f7b8f;
  --magenta-cooler: #9435b4;
  --magenta-faint: #a04360;
  --magenta-warmer: #cb26a0;
  --magenta: #d5206f;
  --mail-cite-0: #1a870f;
  --mail-cite-1: #ae5a30;
  --mail-cite-2: #5f5fdf;
  --mail-cite-3: #9435b4;
  --mail-other: #0f7b8f;
  --mail-part: #4a7d00;
  --mail-recipient: #007f68;
  --mail-subject: #1f6fbf;
  --modeline-err: #9f0030;
  --modeline-info: #1240af;
  --modeline-warning: #5f0f9f;
  --name: #007f68;
  --preprocessor: #cb26a0;
  --prompt: #1a870f;
  --prose-code: #cf2f4f;
  --prose-done: #1a870f;
  --prose-macro: #375cc6;
  --prose-metadata-value: #9d5e7a;
  --prose-metadata: #777294;
  --prose-table-formula: #1a870f;
  --prose-table: #9d5e7a;
  --prose-tag: #a04360;
  --prose-todo: #d03003;
  --prose-verbatim: #1a870f;
  --rainbow-0: #cf2f4f;
  --rainbow-1: #007f68;
  --rainbow-2: #cb26a0;
  --rainbow-3: #5f5fdf;
  --rainbow-4: #b6540f;
  --rainbow-5: #1f6fbf;
  --rainbow-6: #d5206f;
  --rainbow-7: #9435b4;
  --rainbow-8: #ae5a30;
  --red-cooler: #cf2f4f;
  --red-faint: #b64850;
  --red-warmer: #d03003;
  --red: #c42d2f;
  --rx-construct: #cb26a0;
  --rx-escape: #1f6fbf;
  --string: #b6540f;
  --type: #9435b4;
  --underline-err: #ef0f1f;
  --underline-info: #02af52;
  --underline-warning: #bf5f00;
  --variable: #1f6fbf;
  --warning: #a45f22;
  --yellow-cooler: #ae5a30;
  --yellow-faint: #876450;
  --yellow-warmer: #b6540f;
  --yellow: #a45f22;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
  --tab-selected-textcolor: var(--fg-main) !important;
  --tab-selected-color-scheme: only light !important;

  --toolbar-color-scheme: only light !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

