* {
  color-scheme: only dark !important;
}

:root {
  /* Palette */
  --accent-0: #4fbaef;
  --accent-1: #d1843f;
  --accent-2: #6aad0f;
  --accent-3: #af85ff;
  --bg-active: #4b3f47;
  --bg-added-faint: #102a00;
  --bg-added-refine: #2f512f;
  --bg-added: #233b0f;
  --bg-alt: #372d32;
  --bg-blue-intense: #4648d0;
  --bg-blue-subtle: #2f366a;
  --bg-changed-faint: #2a1f00;
  --bg-changed-refine: #4a4a00;
  --bg-changed: #363300;
  --bg-char-0: #0050af;
  --bg-char-1: #7f1f7f;
  --bg-char-2: #625a00;
  --bg-completion: #1f334f;
  --bg-cyan-intense: #2270cf;
  --bg-cyan-subtle: #1c4256;
  --bg-dim: #221920;
  --bg-err: #461309;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #2fafef;
  --bg-graph-blue-1: #1f2f8f;
  --bg-graph-cyan-0: #47dfea;
  --bg-graph-cyan-1: #00808f;
  --bg-graph-green-0: #0fed00;
  --bg-graph-green-1: #007800;
  --bg-graph-magenta-0: #bf94fe;
  --bg-graph-magenta-1: #5f509f;
  --bg-graph-red-0: #b52c2c;
  --bg-graph-red-1: #702020;
  --bg-graph-yellow-0: #f1e00a;
  --bg-graph-yellow-1: #b08940;
  --bg-green-intense: #4a7100;
  --bg-green-subtle: #1f462f;
  --bg-hl-line: #1f2f3f;
  --bg-hover-secondary: #5f3f3a;
  --bg-hover: #304477;
  --bg-inactive: #191317;
  --bg-info: #163505;
  --bg-magenta-intense: #804fdf;
  --bg-magenta-subtle: #582650;
  --bg-main: #130911;
  --bg-mode-line: #583435;
  --bg-paren: #005f4a;
  --bg-red-intense: #b02930;
  --bg-red-subtle: #6f1f2a;
  --bg-region: #3f2f40;
  --bg-removed-faint: #380a0f;
  --bg-removed-refine: #751a1f;
  --bg-removed: #4e111f;
  --bg-search-current: #8f5040;
  --bg-search-lazy: #4648d0;
  --bg-search-match: #3a3104;
  --bg-search-replace: #b02930;
  --bg-search-rx-group-0: #804fdf;
  --bg-search-rx-group-1: #4a7100;
  --bg-search-rx-group-2: #6f1f2a;
  --bg-search-rx-group-3: #1c4256;
  --bg-space-err: #8f5040;
  --bg-space: NONE;
  --bg-tab-bar: #372d32;
  --bg-tab-current: #130911;
  --bg-tab-other: #4b3f47;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #029fff;
  --bg-term-blue: #6a9fff;
  --bg-term-cyan-bright: #1dbfcf;
  --bg-term-cyan: #4fbaef;
  --bg-term-green-bright: #6aad0f;
  --bg-term-green: #0faa26;
  --bg-term-magenta-bright: #af85ff;
  --bg-term-magenta: #d369af;
  --bg-term-red-bright: #ff7355;
  --bg-term-red: #fe5a7a;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #df8a5a;
  --bg-term-yellow: #bf9032;
  --bg-warning: #3a3104;
  --bg-yellow-intense: #8f5040;
  --bg-yellow-subtle: #5a372f;
  --blue-cooler: #029fff;
  --blue-faint: #7a94df;
  --blue-warmer: #6a9fff;
  --blue: #3f95f6;
  --border: #4d4a4b;
  --builtin: #3f95f6;
  --comment: #857f8f;
  --constant: #1dbfcf;
  --cursor: #f0af7f;
  --cyan-cooler: #1dbfcf;
  --cyan-faint: #8aa0df;
  --cyan-warmer: #6fafff;
  --cyan: #4fbaef;
  --date-common: #00a692;
  --date-deadline-subtle: #d56f72;
  --date-deadline: #ff7355;
  --date-event: #89afef;
  --date-holiday: #d1843f;
  --date-now: #d0d0d0;
  --date-range: #89afef;
  --date-scheduled-subtle: #cf9f8f;
  --date-scheduled: #bf9032;
  --date-weekday: #df8a5a;
  --date-weekend: #3f95f6;
  --docstring: #cf9f8f;
  --err: #ff7355;
  --fg-added: #a0e0a0;
  --fg-alt: #89afef;
  --fg-changed: #efef80;
  --fg-dim: #857f8f;
  --fg-fringe: NONE;
  --fg-intense: #ffffff;
  --fg-main: #d0d0d0;
  --fg-mode-line: #ffe5f0;
  --fg-region: NONE;
  --fg-removed: #ffbfbf;
  --fg-space: #4d4a4b;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #029fff;
  --fg-term-blue: #6a9fff;
  --fg-term-cyan-bright: #1dbfcf;
  --fg-term-cyan: #4fbaef;
  --fg-term-green-bright: #6aad0f;
  --fg-term-green: #0faa26;
  --fg-term-magenta-bright: #af85ff;
  --fg-term-magenta: #d369af;
  --fg-term-red-bright: #ff7355;
  --fg-term-red: #fe5a7a;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #df8a5a;
  --fg-term-yellow: #bf9032;
  --fnname: #af85ff;
  --green-cooler: #00a692;
  --green-faint: #61a06c;
  --green-warmer: #6aad0f;
  --green: #0faa26;
  --identifier: #cf9f8f;
  --info: #0faa26;
  --keybind: #df8a5a;
  --keyword: #6aad0f;
  --link-alt: #af85ff;
  --link: #4fbaef;
  --magenta-cooler: #af85ff;
  --magenta-faint: #c58faf;
  --magenta-warmer: #e580ea;
  --magenta: #d369af;
  --mail-cite-0: #df8a5a;
  --mail-cite-1: #7a94df;
  --mail-cite-2: #61a06c;
  --mail-cite-3: #857f8f;
  --mail-other: #6a9fff;
  --mail-part: #4fbaef;
  --mail-recipient: #6fafff;
  --mail-subject: #af85ff;
  --modeline-err: #ff906f;
  --modeline-info: #7fc82f;
  --modeline-warning: #dfcf73;
  --name: #3f95f6;
  --preprocessor: #ef6360;
  --prompt: #4fbaef;
  --prose-code: #1dbfcf;
  --prose-done: #0faa26;
  --prose-macro: #6aad0f;
  --prose-metadata-value: #89afef;
  --prose-metadata: #857f8f;
  --prose-table-formula: #bf9032;
  --prose-table: #89afef;
  --prose-tag: #c58faf;
  --prose-todo: #ef6360;
  --prose-verbatim: #6a9fff;
  --rainbow-0: #df8a5a;
  --rainbow-1: #6a9fff;
  --rainbow-2: #af85ff;
  --rainbow-3: #4fbaef;
  --rainbow-4: #d369af;
  --rainbow-5: #00a692;
  --rainbow-6: #d56f72;
  --rainbow-7: #bf9032;
  --rainbow-8: #6fafff;
  --red-cooler: #fe5a7a;
  --red-faint: #d56f72;
  --red-warmer: #ff7355;
  --red: #ef6360;
  --rx-construct: #ef6360;
  --rx-escape: #00a692;
  --string: #df8a5a;
  --type: #00a692;
  --underline-err: #df2f2f;
  --underline-info: #22b022;
  --underline-warning: #c0b000;
  --variable: #6a9fff;
  --warning: #bf9032;
  --yellow-cooler: #df8a5a;
  --yellow-faint: #cf9f8f;
  --yellow-warmer: #d1843f;
  --yellow: #bf9032;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
  --tab-selected-textcolor: var(--fg-main) !important;
  --tab-selected-color-scheme: only dark !important;

  --toolbar-color-scheme: only dark !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

