:root {
  /* Palette */
  --accent-0: #e772df;
  --accent-1: #60bf88;
  --accent-2: #8895ff;
  --accent-3: #d4a052;
  --bg-active: #564f55;
  --bg-added-faint: #002918;
  --bg-added-refine: #004c2f;
  --bg-added: #00371f;
  --bg-alt: #362f35;
  --bg-blue-intense: #4648d0;
  --bg-blue-subtle: #283565;
  --bg-changed-faint: #2a1f00;
  --bg-changed-refine: #4a4a00;
  --bg-changed: #363300;
  --bg-char-0: #0050af;
  --bg-char-1: #7f1f7f;
  --bg-char-2: #625a00;
  --bg-completion: #2f335a;
  --bg-cyan-intense: #2270cf;
  --bg-cyan-subtle: #133d58;
  --bg-dim: #2a2228;
  --bg-err: #461018;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #2fafef;
  --bg-graph-blue-1: #1f2f8f;
  --bg-graph-cyan-0: #47dfea;
  --bg-graph-cyan-1: #00808f;
  --bg-graph-green-0: #0fed00;
  --bg-graph-green-1: #007800;
  --bg-graph-magenta-0: #bf94fe;
  --bg-graph-magenta-1: #5f509f;
  --bg-graph-red-0: #b52c2c;
  --bg-graph-red-1: #702020;
  --bg-graph-yellow-0: #f1e00a;
  --bg-graph-yellow-1: #b08940;
  --bg-green-intense: #2a7140;
  --bg-green-subtle: #1a421f;
  --bg-hl-line: #34223f;
  --bg-hover-secondary: #452f5f;
  --bg-hover: #004f3f;
  --bg-inactive: #1c1719;
  --bg-info: #103515;
  --bg-magenta-intense: #804fd5;
  --bg-magenta-subtle: #562654;
  --bg-main: #160f0f;
  --bg-mode-line: #6a294f;
  --bg-paren: #2f605e;
  --bg-red-intense: #b02930;
  --bg-red-subtle: #651f1a;
  --bg-region: #16304f;
  --bg-removed-faint: #2f060f;
  --bg-removed-refine: #641426;
  --bg-removed: #450f1f;
  --bg-search-current: #8f5040;
  --bg-search-lazy: #4648d0;
  --bg-search-match: #3a330f;
  --bg-search-replace: #b02930;
  --bg-search-rx-group-0: #804fd5;
  --bg-search-rx-group-1: #2a7140;
  --bg-search-rx-group-2: #651f1a;
  --bg-search-rx-group-3: #133d58;
  --bg-space-err: #8f5040;
  --bg-space: NONE;
  --bg-tab-bar: #362f35;
  --bg-tab-current: #160f0f;
  --bg-tab-other: #564f55;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #72afff;
  --bg-term-blue: #8895ff;
  --bg-term-cyan-bright: #8fcfdf;
  --bg-term-cyan: #8fbaff;
  --bg-term-green-bright: #a0c27f;
  --bg-term-green: #60b444;
  --bg-term-magenta-bright: #a698ef;
  --bg-term-magenta: #d37faf;
  --bg-term-red-bright: #ff7560;
  --bg-term-red: #ff85aa;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #ef926f;
  --bg-term-yellow: #d4a052;
  --bg-warning: #3a330f;
  --bg-yellow-intense: #8f5040;
  --bg-yellow-subtle: #553320;
  --blue-cooler: #72afff;
  --blue-faint: #7a94df;
  --blue-warmer: #8895ff;
  --blue: #7fa5f6;
  --border: #605760;
  --builtin: #a698ef;
  --comment: #c7a07f;
  --constant: #e772df;
  --cursor: #ff99ff;
  --cyan-cooler: #8fcfdf;
  --cyan-faint: #8ac0ef;
  --cyan-warmer: #9ac2ff;
  --cyan: #8fbaff;
  --date-common: #8fcfdf;
  --date-deadline-subtle: #e07a9a;
  --date-deadline: #ff7560;
  --date-event: #afdacf;
  --date-holiday: #e772df;
  --date-now: #d8cfd5;
  --date-range: #afdacf;
  --date-scheduled-subtle: #c7a07f;
  --date-scheduled: #d4a052;
  --date-weekday: #8fbaff;
  --date-weekend: #e07a9a;
  --docstring: #c9addf;
  --err: #ff7560;
  --fg-added: #a0e0a0;
  --fg-alt: #afdacf;
  --fg-changed: #efef80;
  --fg-dim: #908890;
  --fg-fringe: NONE;
  --fg-intense: #ffffff;
  --fg-main: #d8cfd5;
  --fg-mode-line: #ffdfdf;
  --fg-region: NONE;
  --fg-removed: #ffbfbf;
  --fg-space: #605760;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #72afff;
  --fg-term-blue: #8895ff;
  --fg-term-cyan-bright: #8fcfdf;
  --fg-term-cyan: #8fbaff;
  --fg-term-green-bright: #a0c27f;
  --fg-term-green: #60b444;
  --fg-term-magenta-bright: #a698ef;
  --fg-term-magenta: #d37faf;
  --fg-term-red-bright: #ff7560;
  --fg-term-red: #ff85aa;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #ef926f;
  --fg-term-yellow: #d4a052;
  --fnname: #8895ff;
  --green-cooler: #60bf88;
  --green-faint: #61a06c;
  --green-warmer: #a0c27f;
  --green: #60b444;
  --identifier: #e07a9a;
  --info: #60b444;
  --keybind: #e772df;
  --keyword: #d37faf;
  --link-alt: #a0c27f;
  --link: #8fbaff;
  --magenta-cooler: #a698ef;
  --magenta-faint: #c9addf;
  --magenta-warmer: #e772df;
  --magenta: #d37faf;
  --mail-cite-0: #8895ff;
  --mail-cite-1: #e772df;
  --mail-cite-2: #60bf88;
  --mail-cite-3: #a698ef;
  --mail-other: #8fbaff;
  --mail-part: #8fcfdf;
  --mail-recipient: #7fa5f6;
  --mail-subject: #d37faf;
  --modeline-err: #ff9fcf;
  --modeline-info: #5fd0bf;
  --modeline-warning: #edbf00;
  --name: #7fa5f6;
  --preprocessor: #ff85aa;
  --prompt: #72afff;
  --prose-code: #60bf88;
  --prose-done: #60b444;
  --prose-macro: #8895ff;
  --prose-metadata-value: #afdacf;
  --prose-metadata: #908890;
  --prose-table-formula: #ff7560;
  --prose-table: #afdacf;
  --prose-tag: #c9addf;
  --prose-todo: #ff7560;
  --prose-verbatim: #e772df;
  --rainbow-0: #e772df;
  --rainbow-1: #8895ff;
  --rainbow-2: #60bf88;
  --rainbow-3: #d37faf;
  --rainbow-4: #8fbaff;
  --rainbow-5: #a0c27f;
  --rainbow-6: #a698ef;
  --rainbow-7: #9ac2ff;
  --rainbow-8: #ef9680;
  --red-cooler: #ff85aa;
  --red-faint: #e07a9a;
  --red-warmer: #ff7560;
  --red: #f48359;
  --rx-construct: #f48359;
  --rx-escape: #8895ff;
  --string: #60bf88;
  --type: #8fcfdf;
  --underline-err: #df2f2f;
  --underline-info: #22b022;
  --underline-warning: #c0b000;
  --variable: #9ac2ff;
  --warning: #d4a052;
  --yellow-cooler: #ef9680;
  --yellow-faint: #c7a07f;
  --yellow-warmer: #ef926f;
  --yellow: #d4a052;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

