* {
  color-scheme: only light !important;
}

:root {
  /* Palette */
  --accent-0: #c035aa;
  --accent-1: #007f6f;
  --accent-2: #5165e4;
  --accent-3: #a45f22;
  --bg-active: #c3c0c9;
  --bg-added-faint: #dff6ea;
  --bg-added-refine: #bae9cf;
  --bg-added: #caf4da;
  --bg-alt: #e3e0e9;
  --bg-blue-intense: #cbcfff;
  --bg-blue-subtle: #ceddff;
  --bg-changed-faint: #ffefcb;
  --bg-changed-refine: #ffcfa0;
  --bg-changed: #ffdfb9;
  --bg-char-0: #7feaff;
  --bg-char-1: #ffaaff;
  --bg-char-2: #dff000;
  --bg-completion: #f4cfff;
  --bg-cyan-intense: #88ccff;
  --bg-cyan-subtle: #c0eaf0;
  --bg-dim: #ebe7f1;
  --bg-err: #ffdfe6;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #7f90ff;
  --bg-graph-blue-1: #a6c0ff;
  --bg-graph-cyan-0: #70d3f0;
  --bg-graph-cyan-1: #afefff;
  --bg-graph-green-0: #45c050;
  --bg-graph-green-1: #75ef30;
  --bg-graph-magenta-0: #e07fff;
  --bg-graph-magenta-1: #fad0ff;
  --bg-graph-red-0: #ef7969;
  --bg-graph-red-1: #ffaab4;
  --bg-graph-yellow-0: #ffcf00;
  --bg-graph-yellow-1: #f9ff00;
  --bg-green-intense: #7fdda0;
  --bg-green-subtle: #beecc2;
  --bg-hl-line: #cfe6ff;
  --bg-hover-secondary: #b4cfff;
  --bg-hover: #aaeccf;
  --bg-inactive: #efeef7;
  --bg-info: #d0efdf;
  --bg-magenta-intense: #df8fff;
  --bg-magenta-subtle: #f5cff8;
  --bg-main: #f8f5ff;
  --bg-mode-line: #ddb4ff;
  --bg-paren: #dfadaf;
  --bg-red-intense: #ff7f88;
  --bg-red-subtle: #ffc3c7;
  --bg-region: #eed0ff;
  --bg-removed-faint: #ffdfe6;
  --bg-removed-refine: #f5b6c8;
  --bg-removed: #ffcee0;
  --bg-search-current: #ffc200;
  --bg-search-lazy: #cbcfff;
  --bg-search-match: #ffe5bf;
  --bg-search-replace: #ff7f88;
  --bg-search-rx-group-0: #df8fff;
  --bg-search-rx-group-1: #7fdda0;
  --bg-search-rx-group-2: #ffc3c7;
  --bg-search-rx-group-3: #c0eaf0;
  --bg-space-err: #ffc200;
  --bg-space: NONE;
  --bg-tab-bar: #e3e0e9;
  --bg-tab-current: #f8f5ff;
  --bg-tab-other: #c3c0c9;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #065fbf;
  --bg-term-blue: #5165e4;
  --bg-term-cyan-bright: #0f7a9d;
  --bg-term-cyan: #1f6fbf;
  --bg-term-green-bright: #4f7d0f;
  --bg-term-green: #057800;
  --bg-term-magenta-bright: #705ae3;
  --bg-term-magenta: #ad45ba;
  --bg-term-red-bright: #d03033;
  --bg-term-red: #c01f5f;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #b8532f;
  --bg-term-yellow: #a45f22;
  --bg-warning: #ffe5bf;
  --bg-yellow-intense: #ffc200;
  --bg-yellow-subtle: #f3ea8f;
  --blue-cooler: #065fbf;
  --blue-faint: #6060d0;
  --blue-warmer: #5165e4;
  --blue: #375cd6;
  --border: #c6bac5;
  --builtin: #705ae3;
  --comment: #a05b5f;
  --constant: #c035aa;
  --cursor: #4f45ff;
  --cyan-cooler: #0f7a9d;
  --cyan-faint: #5f60bf;
  --cyan-warmer: #3f6faf;
  --cyan: #1f6fbf;
  --date-common: #0f7a9d;
  --date-deadline-subtle: #c01f5f;
  --date-deadline: #d03033;
  --date-event: #3f7668;
  --date-holiday: #c035aa;
  --date-now: #4f3363;
  --date-range: #3f7668;
  --date-scheduled-subtle: #a05b5f;
  --date-scheduled: #a45f22;
  --date-weekday: #1f6fbf;
  --date-weekend: #a24568;
  --docstring: #804fb0;
  --err: #d03033;
  --fg-added: #005000;
  --fg-alt: #3f7668;
  --fg-changed: #553d00;
  --fg-dim: #786e74;
  --fg-fringe: NONE;
  --fg-intense: #000000;
  --fg-main: #4f3363;
  --fg-mode-line: #241f48;
  --fg-region: NONE;
  --fg-removed: #8f1313;
  --fg-space: #c6bac5;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #065fbf;
  --fg-term-blue: #5165e4;
  --fg-term-cyan-bright: #0f7a9d;
  --fg-term-cyan: #1f6fbf;
  --fg-term-green-bright: #4f7d0f;
  --fg-term-green: #057800;
  --fg-term-magenta-bright: #705ae3;
  --fg-term-magenta: #ad45ba;
  --fg-term-red-bright: #d03033;
  --fg-term-red: #c01f5f;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #b8532f;
  --fg-term-yellow: #a45f22;
  --fnname: #5165e4;
  --green-cooler: #007f6f;
  --green-faint: #41754c;
  --green-warmer: #4f7d0f;
  --green: #057800;
  --identifier: #a24568;
  --info: #057800;
  --keybind: #c035aa;
  --keyword: #ad45ba;
  --link-alt: #4f7d0f;
  --link: #1f6fbf;
  --magenta-cooler: #705ae3;
  --magenta-faint: #804fb0;
  --magenta-warmer: #c035aa;
  --magenta: #ad45ba;
  --mail-cite-0: #5165e4;
  --mail-cite-1: #c035aa;
  --mail-cite-2: #0f7a9d;
  --mail-cite-3: #705ae3;
  --mail-other: #1f6fbf;
  --mail-part: #3f6faf;
  --mail-recipient: #375cd6;
  --mail-subject: #ad45ba;
  --modeline-err: #980000;
  --modeline-info: #1042af;
  --modeline-warning: #5f4400;
  --name: #375cd6;
  --preprocessor: #c01f5f;
  --prompt: #065fbf;
  --prose-code: #007f6f;
  --prose-done: #057800;
  --prose-macro: #5165e4;
  --prose-metadata-value: #3f7668;
  --prose-metadata: #786e74;
  --prose-table-formula: #d03033;
  --prose-table: #3f7668;
  --prose-tag: #804fb0;
  --prose-todo: #d03033;
  --prose-verbatim: #c035aa;
  --rainbow-0: #c035aa;
  --rainbow-1: #5165e4;
  --rainbow-2: #007f6f;
  --rainbow-3: #ad45ba;
  --rainbow-4: #1f6fbf;
  --rainbow-5: #4f7d0f;
  --rainbow-6: #705ae3;
  --rainbow-7: #3f6faf;
  --rainbow-8: #b65050;
  --red-cooler: #c01f5f;
  --red-faint: #a24568;
  --red-warmer: #d03033;
  --red: #c3303a;
  --rx-construct: #c3303a;
  --rx-escape: #5165e4;
  --string: #007f6f;
  --type: #0f7a9d;
  --underline-err: #ef0f1f;
  --underline-info: #02af52;
  --underline-warning: #bf5f00;
  --variable: #3f6faf;
  --warning: #b8532f;
  --yellow-cooler: #b65050;
  --yellow-faint: #a05b5f;
  --yellow-warmer: #b8532f;
  --yellow: #a45f22;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
  --tab-selected-textcolor: var(--fg-main) !important;
  --tab-selected-color-scheme: only light !important;

  --toolbar-color-scheme: only light !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

