:root {
  /* Palette */
  --accent-0: #2070af;
  --accent-1: #aa0010;
  --accent-2: #2f5faf;
  --accent-3: #aa357f;
  --bg-active: #bdb9b9;
  --bg-added-faint: #d7eff5;
  --bg-added-refine: #b3dfdf;
  --bg-added: #c9efea;
  --bg-alt: #ddd9d9;
  --bg-blue-intense: #a8c8ef;
  --bg-blue-subtle: #c8e6f7;
  --bg-changed-faint: #e4e4ff;
  --bg-changed-refine: #c0c0ef;
  --bg-changed: #dbdbff;
  --bg-char-0: #ff908f;
  --bg-char-1: #bfbfff;
  --bg-char-2: #5fcfdf;
  --bg-completion: #ffcada;
  --bg-cyan-intense: #7bcfcf;
  --bg-cyan-subtle: #bbeff2;
  --bg-dim: #efecec;
  --bg-err: #ffbfca;
  --bg-fringe: NONE;
  --bg-graph-blue-0: #80a0df;
  --bg-graph-blue-1: #a8cfff;
  --bg-graph-cyan-0: #7fd3ed;
  --bg-graph-cyan-1: #afefff;
  --bg-graph-green-0: #68c0a0;
  --bg-graph-green-1: #a5dfd0;
  --bg-graph-magenta-0: #efafcf;
  --bg-graph-magenta-1: #ffdaef;
  --bg-graph-red-0: #ef7969;
  --bg-graph-red-1: #ffaab4;
  --bg-graph-yellow-0: #d99f9f;
  --bg-graph-yellow-1: #ffb58f;
  --bg-green-intense: #8aefef;
  --bg-green-subtle: #baeecf;
  --bg-hl-line: #ffdadf;
  --bg-hover-secondary: #eda9dc;
  --bg-hover: #8fcfff;
  --bg-inactive: #f7f2f2;
  --bg-info: #cfdfef;
  --bg-magenta-intense: #e09fc0;
  --bg-magenta-subtle: #ffcfe0;
  --bg-main: #fff9f9;
  --bg-mode-line: #ff99aa;
  --bg-paren: #8fc0cf;
  --bg-red-intense: #ffa2a0;
  --bg-red-subtle: #ffc4bf;
  --bg-region: #dadadf;
  --bg-removed-faint: #ffe9e6;
  --bg-removed-refine: #f5bfc8;
  --bg-removed: #ffd6e0;
  --bg-search-current: #ffa2a0;
  --bg-search-lazy: #7bcfcf;
  --bg-search-match: #efcae6;
  --bg-search-replace: #e09fc0;
  --bg-search-rx-group-0: #a8c8ef;
  --bg-search-rx-group-1: #e09fc0;
  --bg-search-rx-group-2: #bbeff2;
  --bg-search-rx-group-3: #ffc4bf;
  --bg-space-err: #ffa2a0;
  --bg-space: NONE;
  --bg-tab-bar: #ddd9d9;
  --bg-tab-current: #fff9f9;
  --bg-tab-other: #bdb9b9;
  --bg-term-black-bright: gray35;
  --bg-term-black: black;
  --bg-term-blue-bright: #065fff;
  --bg-term-blue: #4250ef;
  --bg-term-cyan-bright: #007faa;
  --bg-term-cyan: #2070af;
  --bg-term-green-bright: #4a7d00;
  --bg-term-green: #217a3c;
  --bg-term-magenta-bright: #af40af;
  --bg-term-magenta: #aa357f;
  --bg-term-red-bright: #dd0000;
  --bg-term-red: #c50f4f;
  --bg-term-white-bright: white;
  --bg-term-white: gray65;
  --bg-term-yellow-bright: #965000;
  --bg-term-yellow: #805d00;
  --bg-warning: #efcae6;
  --bg-yellow-intense: #ff7f78;
  --bg-yellow-subtle: #f5d8a8;
  --blue-cooler: #065fff;
  --blue-faint: #6060d0;
  --blue-warmer: #4250ef;
  --blue: #375cd8;
  --border: #adadad;
  --builtin: #aa357f;
  --comment: #92454f;
  --constant: #c50f4f;
  --cursor: #bb0000;
  --cyan-cooler: #007faa;
  --cyan-faint: #5f6a90;
  --cyan-warmer: #2f5faf;
  --cyan: #2070af;
  --date-common: #007faa;
  --date-deadline-subtle: #c50f4f;
  --date-deadline: #dd0000;
  --date-event: #194f90;
  --date-holiday: #dd0000;
  --date-now: #1a1a1a;
  --date-range: #194f90;
  --date-scheduled-subtle: #7f4580;
  --date-scheduled: #aa357f;
  --date-weekday: #2070af;
  --date-weekend: #92454f;
  --docstring: #5f6a90;
  --err: #dd0000;
  --fg-added: #004840;
  --fg-alt: #194f90;
  --fg-changed: #333399;
  --fg-dim: #756275;
  --fg-fringe: NONE;
  --fg-intense: #000000;
  --fg-main: #1a1a1a;
  --fg-mode-line: #1a0a0f;
  --fg-region: NONE;
  --fg-removed: #8f1313;
  --fg-space: #adadad;
  --fg-term-black-bright: gray35;
  --fg-term-black: black;
  --fg-term-blue-bright: #065fff;
  --fg-term-blue: #4250ef;
  --fg-term-cyan-bright: #007faa;
  --fg-term-cyan: #2070af;
  --fg-term-green-bright: #4a7d00;
  --fg-term-green: #217a3c;
  --fg-term-magenta-bright: #af40af;
  --fg-term-magenta: #aa357f;
  --fg-term-red-bright: #dd0000;
  --fg-term-red: #c50f4f;
  --fg-term-white-bright: white;
  --fg-term-white: gray65;
  --fg-term-yellow-bright: #965000;
  --fg-term-yellow: #805d00;
  --fnname: #af40af;
  --green-cooler: #008058;
  --green-faint: #61756c;
  --green-warmer: #4a7d00;
  --green: #217a3c;
  --identifier: #7f4580;
  --info: #2070af;
  --keybind: #c50f4f;
  --keyword: #aa0010;
  --link-alt: #af40af;
  --link: #2070af;
  --magenta-cooler: #af40af;
  --magenta-faint: #7f4580;
  --magenta-warmer: #bf256a;
  --magenta: #aa357f;
  --mail-cite-0: #007faa;
  --mail-cite-1: #c50f4f;
  --mail-cite-2: #2f5faf;
  --mail-cite-3: #92454f;
  --mail-other: #af40af;
  --mail-part: #2070af;
  --mail-recipient: #aa357f;
  --mail-subject: #dd0000;
  --modeline-err: #8f0000;
  --modeline-info: #00445f;
  --modeline-warning: #6f306f;
  --name: #aa357f;
  --preprocessor: #af40af;
  --prompt: #2070af;
  --prose-code: #aa0010;
  --prose-done: #2070af;
  --prose-macro: #2f5faf;
  --prose-metadata-value: #194f90;
  --prose-metadata: #756275;
  --prose-table-formula: #dd0000;
  --prose-table: #194f90;
  --prose-tag: #194f90;
  --prose-todo: #dd0000;
  --prose-verbatim: #2070af;
  --rainbow-0: #2070af;
  --rainbow-1: #aa0010;
  --rainbow-2: #2f5faf;
  --rainbow-3: #c50f4f;
  --rainbow-4: #007faa;
  --rainbow-5: #aa357f;
  --rainbow-6: #5f6a90;
  --rainbow-7: #7f4580;
  --rainbow-8: #92454f;
  --red-cooler: #c50f4f;
  --red-faint: #92454f;
  --red-warmer: #dd0000;
  --red: #aa0010;
  --rx-construct: #dd0000;
  --rx-escape: #2f5faf;
  --string: #2070af;
  --type: #2f5faf;
  --underline-err: #ef0f1f;
  --underline-info: #22afc2;
  --underline-warning: #af7f90;
  --variable: #007faa;
  --warning: #aa357f;
  --yellow-cooler: #765040;
  --yellow-faint: #776d6a;
  --yellow-warmer: #965000;
  --yellow: #805d00;
  
  /* Variables */
  --lwt-frame: var(--bg-dim) !important;
  --lwt-accent-color: var(--bg-active) !important;
  --lwt-text-color: var(--fg-main) !important;

  --toolbar-field-color: var(--fg-main) !important;

  --toolbar-field-focus-color: var(--fg-main) !important;
  --toolbar-field-focus-background-color: var(--bg-dim) !important;
  --toolbar-field-focus-border-color: var(--border) !important;

  --toolbar-field-background-color: var(--bg-dim) !important;
  --lwt-toolbar-field-highlight: var(--fg-main) !important;
  --lwt-toolbar-field-highlight-text: var(--fg-alt) !important;
  --urlbar-popup-url-color: var(--link-alt) !important;


  /* NOTE: Remove this for 'gentler' background */
  --urlbarView-highlight-background: var(--bg-completion) !important;

  --lwt-tab-text: var(--fg-main) !important;

  --lwt-selected-tab-background-color: var(--bg-tab-current) !important;

  --toolbar-bgcolor: var(--bg-dim) !important;
  --toolbar-color: var(--fg-main) !important;
  --toolbarseparator-color: var(--fg-dim) !important;
  --toolbarbutton-hover-background: var(--bg-hover) !important;
  --toolbarbutton-active-background: var(--bg-hover-secondary) !important;
  --toolbarbutton-icon-fill: var(--fg-dim) !important;
  --toolbarbutton-icon-fill-attenion: var(--warning) !important;
  --toolbarbutton-icon-fill-attenion-text: var(--fg-intense) !important;

  --lwt-sidebar-background-color: var(--lwt-frame) !important;
  --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

  --urlbar-box-bgcolor: var(--bg-dim) !important;
  --urlbar-box-text-color: var(--fg-dim) !important;
  --urlbar-box-hover-bgcolor: var(--bg-active) !important;
  --urlbar-box-hover-text-color: var(--fg-main) !important;
  --urlbar-box-focus-bgcolor: var(--bg-dim) !important;
  

  --background-color-critical: var(--bg-err) !important;
  --background-color-information: var(--bg-blue-subtle) !important;
  --background-color-success: var(--bg-info) !important;
  --background-color-warning: var(--bg-warning) !important;
  
  --button-background-color-destructive: var(--red-faint) !important;
  --button-background-color-destructive-active: var(--red) !important;
  --button-background-color-destructive-disabled: var(--red-cooler) !important;

  --button-background-color-primary: var(--bg-alt) !important;
  --button-background-color-primary-active: var(--rainbow-0) !important;
  
  --icon-color-critical: var(--err) !important;
  --icon-color-information: var(--blue) !important;
  --icon-color-success: var(--info) !important;
  --icon-color-warning: var(--warning) !important;
}

tab.tabbrowser-tab {
  box-sizing: border-box;
  border: 1px solid var(--border);
  box-shadow: 0 0 1px var(--border) !important;
  padding: 0 0 !important;
}

tab.tabbrowser-tab:hover {
  background: var(--bg-active) !important;
}

.titlebar-spacer { display: none !important; }

.tabbrowser-tab .tab-content {
  box-shadow: 0 0 3px var(--border) !important;
  background-color: var(--bg-dim);
  border: 1px solid var(--border);
}

.tab-content:hover {
  background-color: var(--bg-active) !important;
}

.tabbrowser-tab[selected] .tab-content:hover {
  background-color: var(--bg-tab-bar) !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-color: var(--bg-tab-current);
  box-shadow: 0 0 0 1px var(--border)
  border: 1px solid var(--border);
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--bg-main) !important;
}


#nav-bar {
  box-shadow: 0 0 3px var(--border) !important;
  background: var(--bg-main) !important;
  box-sizing: border-box;
}

.urlbar-input-container {
  border: 1px solid var(--border) !important;
}


/* NOTE: REMOVE IF YOU DISLIKE THE SEARCH BAR HIGHLIGHTING */
.urlbar-tail-prefix {
  color: var(--accent-0) !important;
}

/*
* HACK: This provides a feeling similar to the highlighting from `ef-themes.nvim`
*/
.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='top_site'], [type='bookmark'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title {
  color: var(--fg-main);
  font-weight: normal;
}

.urlbarView-row:not([type='top_site']):not([type='bookmark']):not([type='autofill_origin']):not([type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title strong {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title
strong {
  color: var(--accent-0);
  font-weight: bold;
}

.urlbarView-row:is([type='autofill_origin'], [type='history'])
.urlbarView-row-inner
.urlbarView-no-wrap
.urlbarView-title:not(strong) {
  color: var(--fg-main);
  font-style: normal;
  font-weight: normal;
}
/* NOTE: END SEARCH HIGHLIGHT STYLE */

.urlbarView-url {
  color: var(--link-alt) !important;
}


#urlbar-background { 
  border: transparent !important; 
  background: var(--bg-main) !important;
}

#urlbar-results > .urlbarView-results[type="autofill_origin"] {
  background: var(--bg-alt) !important;
}

.browser-toolbox-background {
  background: var(--bg-dim) !important;
  border: 1px solid var(--border) !important;
}

#PersonalToolbar { 
  background: var(--bg-main) !important; 
}

.urlbarView {
  box-sizing: border-box !important;
  padding: 6px !important;
  border-radius: 8px !important;

  border: 1px solid var(--border) !important;

  font-size: 15px !important;
  line-height: 19.5px !important;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  caret-color: var(--cursor) !important;
  margin-inline: 0 !important;
  width: inherit !important;
}

.titlebar-spacer { display: none !important; }

#forward-button[disabled='true'] {
  stroke: var(--fg-dim) !important;
  opacity: 0.4 !important;
  fill: var(--fg-dim) !important;
}

#forward-button {
  fill: var(--fg-dim) !important;
}

